@media (min-width: 960px) {
    :host {
        .day {
            min-width: 65px;
            min-height: 65px;
        }
        .day-parts {
            justify-content: center;
            > div:first-child {
                margin-right: 20px;
            }
        }
        .timezone {
            right: 20px;
            top: 27px;
        }
    }
}