:host {
    .signup {
        position: fixed;
        bottom: 21px;
        font-size: 14px;
        display: inline;
        color: #222222;
    }

    .content {
        margin-top: 238px;

        .buttons {
            margin: 31px 0;

            button {
                background: rgba(243, 112, 115, 0.8);
            }

            a {
                font-size: 12px;
            }
        }
    }

    @media (max-width: 1366px) {
        .content {
            margin-top: 100px;
        }
    }

    @media (max-width: 1024px) {
        .content {
            margin-top: 20px;

            mat-form-field {
                ::ng-deep input {
                    font-size: 16px;
                }
            }
        }
    }
}
