<div *ngIf="!success">
    <div layout="row">
        <h3 mat-dialog-title flex>Add Certificate</h3>
        <a class="icon-button close" (click)="close()">
            <mat-icon svgIcon="close" color="learnt-red"></mat-icon>
            <span>Close</span>
        </a>
    </div>
    <form layout="column" [formGroup]="form" class="gap-15" (submit)="save($event)">
        <mat-dialog-content>
            <p>
                Add a certificate to the subject that you would like to tutor!
                You will be notified via email once your verification has been approved, or if we need more information from you.
            </p>
            <div class="elements">
                <mat-form-field class="subject-container">
                    <input matInput placeholder="Subject" [value]="subject.subject.name" readonly>
                </mat-form-field>
                <div class="certificate-row">
                    <learnt-upload-button formControlName="certificate" context="subjects"
                                          [required]="true"
                                          placeholder="Upload certificate"
                                          [extensions]="['pdf', 'jpg', 'jpeg', 'png']" [mimes]="['application/pdf', 'image/jpeg', 'image/png']">
                    </learnt-upload-button>
                </div>
            </div>
        </mat-dialog-content>
        <mat-dialog-actions layout="row" class="gap-10">
            <button mat-raised-button [disabled]="saving" color="primary">Add certificate</button>
            <button mat-button mat-dialog-close>Cancel</button>
        </mat-dialog-actions>
    </form>
</div>
<div class="success learnt-dialog-success" *ngIf="success && !noUpload">
    <h3>Thank you for adding your certificate</h3>
    <p>Your information will now be reviewed by our team</p>
    <button mat-raised-button color="primary" mat-dialog-close>Close</button>
</div>
<div class="success learnt-dialog-success" *ngIf="success && noUpload">
    <h3>No certificate added</h3>
    <p>Please upload your certificate</p>
    <button mat-raised-button color="primary" mat-dialog-close>Close</button>
</div>
