<div *ngIf="!success">
    <div layout="row">
        <h3 mat-dialog-title flex>Add Phone Number</h3>
        <a class="icon-button close" (click)="close()">
            <mat-icon svgIcon="close" color="learnt-red"></mat-icon>
            <span>Close</span>
        </a>
    </div>
    <form layout="column" [formGroup]="form" class="gap-15" (submit)="save($event)">
        <mat-dialog-content>
            <div class="elements">
                <mat-form-field class="phone-container" flex>
                    <input matInput placeholder="Telephone" formControlName="telephone" required>
                </mat-form-field>

            </div>
        </mat-dialog-content>
        <mat-dialog-actions layout="row" class="gap-10">
            <button mat-raised-button [disabled]="form.invalid || saving" color="primary">Save</button>
            <button mat-button mat-dialog-close>Cancel</button>
        </mat-dialog-actions>
    </form>
</div>
<div class="success learnt-dialog-success" *ngIf="success">
    <h3>Thank you for adding your phone number.</h3>
    <br>
    <button mat-raised-button color="primary" mat-dialog-close>Close</button>
</div>
