:host {
    padding: 30px 50px;
    display: block;
    h1 {
        font-size: 24px;
        color: #454545;
    }
    p {
        font-size: 14px;
        color: #999999;
        margin-top: 10px;
    }
    form {
        margin-top: 40px;
    }
    .buttons {
        margin-top: 20px;
    }
    learnt-credit-card-icon-matcher {
        margin-bottom: 40px;
    }

    .complete-message {
        margin-top: 30px;
        font-size: 32px;
        color: #89C0CA;
    }
}