<article class="terms-and-conditions single">
    <header>
        <h1>Independent Tutor Agreement</h1>
    </header>
    <p class="content">This is a legal agreement ("Agreement") between you, an independent tutor ("Tutor"), and Learnt
        Corporation (“LC”) with respect to the use of the Learnt app ("Learnt App") and the Learnt app website (the
        “Site”) which are owned by LC. The parties expressly agree to transact and enter into this Agreement by
        electronic means within the meaning of the Uniform Electronic Transactions Act ("UETA")</p>
    <ol type="1">
        <li><strong>Tutor status</strong>. Neither this Agreement, the Terms of Use of Learnt app and the Site, nor use
            of the Site creates an independent contractor, employee/employer, partnership, joint venture, or
            franchiser-franchisee relationship between Tutor and LC. It is the parties' intention that the Tutor will be
            an independent provider of tutoring services through the Learnt app and not LC's employee for all purposes,
            including, without limitation, the application of the Fair Labor Standards Act minimum wage and overtime
            provisions, Federal Insurance Contribution Act, the Social Security Act, the Federal Unemployment Tax Act,
            the provisions of the Internal Revenue Code, any state income tax law, or any local income tax law, any
            state workers' compensation laws, and any state unemployment insurance law.
        </li>
        <li><strong>Tutor Eligibility</strong>. You may be admitted into the Learnt app tutor network in the sole and
            absolute discretion of LC upon meeting such criteria as may be determined by LC from time to time in its
            sole discretion. If, for any reason, you fail to maintain your good standing under such criteria, you shall
            no longer be eligible to provide tutoring as a Tutor under the Learnt app. If you are not a US permanent
            resident or US citizen, you must be eligible to work within the US to be eligible to participate as a Tutor.
            Nothing contained herein shall obligate LC to admit you into the Learnt app tutor network or to enter into
            any other or further agreement with you. Neither this Agreement, nor your submission of your resume,
            academic records or credentials, or any other information or materials, as may be requested by LC, nor any
            discussions and correspondence between you and LC, shall constitute or imply a commitment or binding
            obligation on the part of LC or its affiliates, if any, to admit you into the Learnt app tutor network or to
            enter into any other or further agreement with you.
        </li>
        <li><strong>Background Check</strong>. Upon entering into this Agreement, and prior to your providing any
            Sessions to Learnt app Students (as defined herein), you shall provide LC with your social security number
            and any other information which may be required by our background check provider (the "BG Provider") to run
            a criminal background check of you. You acknowledge that the BG Provider shall be solely responsible for
            legal compliance in connection with your background check, the storing of your personal data and all
            findings related thereto. In the event of any disputed findings, claims or complaints, you shall deal
            directly with the BG Provider to resolve any and all disputes, claims and complaints. You further
            acknowledge that LC shall have access to, and the ability to store, data included in your background check
            or any results thereof. By entering into this Agreement, you represent that you have no knowledge of any
            information that may result in a finding of criminal charges, convictions or criminal behavior by you. You
            also acknowledge that as an independent contractor, LC and Learnt app may decide to suspend its relationship
            with you at any time and from time to time for any reason, including the receipt of any negative background
            check findings from our BG Provider./li>
        <li><strong>Description of work</strong>. The Tutor will be responsible for providing tutoring instruction
            ("Sessions"). The Tutor will retain absolute discretion as to the manner and means of carrying out Tutor’s
            tutoring services.
        </li>
        <li><strong>Non-exclusivity</strong>. Tutor and LC acknowledge that this Agreement is nonexclusive and the Tutor
            is free to engage in and simultaneously perform any employment or other services during the pendency of this
            Agreement. Nothing herein precludes Tutor from advertising or providing Tutor’s services to the general
            public.
        </li>
        <li><p class="content"><strong>Non-Circumvention / No Direct Compensation</strong>. Tutor acknowledges that all
            students who hire Tutor through the Learnt app (“Learnt app Student”) are exclusive clients of LC, and Tutor
            shall not provide any Sessions or any other tutoring or related services to such Learnt app Students outside
            of Learnt app during the term of this Agreement and for 12 months following any termination or expiration of
            this Agreement.</p>
            <p class="content">Under no circumstances shall Tutor receive or seek or attempt to seek or receive
                compensation directly from Learnt app Students, including "tips," "bonuses" or additional payments, for
                tutoring Sessions provided hereunder. </p>
        </li>
        <li><strong>Hours</strong>. Tutor shall set Tutor’s own hours and schedule Tutor’s own Sessions. Tutor shall
            generally render services as needed to perform Tutor’s duties hereunder as set forth in the Description of
            Work. LC does not guarantee that the Tutor will get any particular number of Sessions. Tutors should not
            rely on LC as their sole source of Sessions or income.
        </li>
        <li>
            <p class="content"><strong>Commission</strong>. Tutor determines and adjusts Tutor’s own hourly Session
                rate. Tutor shall receive that rate less a percentage paid to LC for its services.</p>
            <p class="content">Tutor shall be paid through the Learnt app payment processing system for any services
                rendered to Learnt app students. Under no circumstances is Tutor to attempt to seek or receive
                compensation directly from Learnt app students. Prior to commencing Sessions or meeting with Learnt app
                students for any purpose, Tutor should verify with LC that the student has submitted appropriate billing
                information. LC is not responsible for payments for Sessions given before a student has appropriate
                billing information on file. For student billing purposes, Tutor will report the length of each session
                completed through the Tutor's administrative page on LC's website (<a href="https://learnt.io"
                                                                                      target="_self">https://learnt.io</a>)
                in accordance with Learnt app Payment Policies.</p>
        </li>
        <li><strong>Payment system</strong>. Tutor agrees to abide by Learnt app Payment Policies. Tutor also agrees not
            to subvert the payment system or to divert funds ordinarily payable to Tutor through Learnt app.
        </li>
        <li><strong>Expenses</strong>. Tutor is solely responsible for all costs and expenses related to the services
            provided hereunder including, but not limited to, expenses associated with preparing for and administering
            Sessions, educational materials and transportation. LC will not be liable to Tutor for any expenses incurred
            in the rendition of services.
        </li>
        <li><strong>Supplies</strong>. Tutor will provide Tutor’s own supplies and equipment required to complete the
            tasks for which he was retained.
        </li>
        <li><strong>Taxes</strong>. Tutor is responsible for all federal, state, and/or local tax purposes. Neither
            federal, nor state, nor local income tax, nor payroll tax of any kind shall be withheld by LC on behalf of
            Tutor. Tutor understands that it is Tutor’s responsibility to pay any applicable taxes.
        </li>
        <li><strong>Benefits</strong>. Tutor acknowledges that Tutor is engaged in an independent business and is not
            eligible to participate in any pension, health, or other fringe benefits plan of LC.
        </li>
        <li><strong>Insurance</strong>. No Workers' Compensation Insurance shall be obtained by LC for Tutor. Tutor
            understands that it is Tutor’s responsibility to comply with the Workers' Compensation Law.
        </li>
        <li><strong>Confidentiality</strong>. Tutor acknowledges that, during the performance of services, Tutor may
            have access to private, proprietary information regarding LC and Learnt app Students, including without
            limitation, information relating to Learnt app Student's identity, address, contact information, and other
            personal information or requests for services as well as information containing or reflecting LC’s trade
            secrets, business operations, marketing strategies, legal documents, policies, procedures, clients,
            employees, contractors and other proprietary information (collectively, "Confidential Information"). Tutor
            agrees that Tutor owes a duty to LC, TutotApp Students, and such other third parties, during the term of
            this Agreement and thereafter, to hold all such Confidential Information in the strictest confidence and not
            to disclose it to any person, firm or corporation or to use it except as necessary in carrying out tutoring
            services consistent with this Agreement.
        </li>
        <li><strong>Tutor documents</strong>. Tutor acknowledges that a copy of all documents created or received by
            Tutor in connection with the administration of services performed hereunder ("Tutor Documents") may be
            retained by LC and used for its administrative or other business purposes.
        </li>
        <li>
            <p class="content"><strong>Indemnity and hold harmless clause</strong>. Tutor agrees to indemnify and hold
                harmless LC, its subsidiaries, affiliates, and their directors, officers, employees and agents, from and
                against any and all losses, expenses, costs, liabilities and damages (including any legal fee and
                expenses), any and all injuries, whether direct, consequential or incidental in nature, which result
                from, are connected with or arise out of the performance by Tutor of work performed in relation to this
                Agreement, including any act by Tutor inconsistent with Tutor's status as an independent tutor.</p>
            <p class="content">Tutor understands that LC (through Learnt app) offers a marketplace for those seeking
                tutoring services to connect with those seeking to provide tutoring services. Accordingly, LC makes no
                representations to Tutor about the suitability, character or background of any Learnt app user or Learnt
                app Student, nor does LC perform any type of background check of such users. It is Tutor's sole duty to
                exercise Tutor’s own judgment, protocols and/or standards when considering whether to engage in tutoring
                services with each student or client. Tutor understands and agrees that it is Tutor’s responsibility to
                conduct any and all background and reference checks regarding other Learnt app users. Tutor is never
                obligated by LC to pursue any tutoring opportunity.</p>
        </li>
        <li><strong>Site content</strong>. Tutor acknowledges that all Site and/or Learnt app content submitted by Tutor
            will be the property of LC and may be distributed or used by LC at its sole discretion. Such content
            includes, but is not limited to, articles, lessons, worksheets, quizzes, tutorials, files, testimonials,
            reviews, video submissions, and blog entries ("Site Content").
        </li>
        <li><strong>Image, Likeness and Identity of Tutor</strong>. Tutor specifically grants LC the right and license
            to use the Tutor’s name, image, likeness, and biographical / background information for advertising,
            marketing, and public relations purposes, including without limitation, posting any photos and videos
            submitted by the Tutor on the LC and/or Learnt app website(s) and on LC / Learnt app’s YouTube channel.
            Tutors agree to permit selected biographical information to be posted publicly on the LC and/or Learnt app
            website(s), which information may include their first name, nickname, education, experience, and courses /
            subjects tutored.
        </li>
        <li><strong>Tutoring Code of Ethics</strong>. In accordance with the standards set by the Association for the
            Tutoring Profession, Tutors shall uphold the following standards when working with Learnt app Students:
            <ol type="a">
                <li><strong>Best Interest</strong>: Tutors will be committed to acting in the best interest of Learnt
                    app Students.
                </li>
                <li><strong>Responsibility</strong>: Tutors will take responsibility for their own behavior and work to
                    resolve conflicts that may arise between themselves and Learnt app Students.
                </li>
                <li><strong>Academic </strong>Integrity: Tutors will practice and promote accuracy, honesty, and
                    truthfulness.
                </li>
                <li><strong>Fairness</strong>: Tutors will exercise reasonable judgment and take precautions to ensure
                    that their potential biases, the boundaries of their competence, and the limitations of their
                    expertise do not lead to or condone unjust practices. Expectations should be established of mutually
                    appropriate language and the pedagogical strategy in which tutoring will be delivered or supported.
                </li>
                <li><strong>Commitment</strong>: Tutors will fulfill commitments to Learnt app Students, including being
                    on-time and being prepared with appropriate materials to facilitate a session.
                </li>
                <li><strong>Standards</strong>: Tutors will refrain from guaranteeing grades or academic outcomes from a
                    tutoring session.
                </li>
                <li><strong>Respect for Others</strong>: Tutors will respect the dignity and worth of all people, and
                    the rights of individuals to privacy, confidentiality and self-determination. Tutors will respect
                    cultural, individual, and role differences, including those based on age, sex, gender identity,
                    race, ethnicity, culture, national origin, religion, sexual orientation, disability, language and
                    socioeconomic status.
                </li>
                <li><strong>Relationship</strong>: Tutors will not engage in inappropriate relations with Learnt app
                    Students. Tutors will also be aware of power structures and will avoid compromising environments
                    that encourage the use of unbalanced power dynamics.
                </li>
            </ol>
        </li>
        <li><strong>Term</strong>. This Agreement and the respective duties of the parties hereunder shall continue
            until terminated by either party in accordance with this Agreement.
        </li>
        <li><strong>Termination of relationship</strong>. Either party may terminate this Agreement for any reason at
            any time. Upon any such termination, the Tutor agrees to return any and all copies of Confidential
            Information and any other proprietary materials received from, created for, or belonging to LC / Learnt app,
            including, but not limited to, those which relate to or contain proprietary information and/or company
            records of LC that are in the Tutor's possession or under Tutor’s control.
        </li>
        <li><strong>Assignment</strong>. Tutor may not assign or transfer this Agreement without the prior written
            consent of LC.
        </li>
        <li><strong>Amendment</strong>. This Agreement may only be amended or modified by a writing which makes express
            reference to this Agreement as the subject of such amendment and which is signed by Tutor and, on behalf of
            LC, by its duly authorized officer. The parties agree that any amendment or modification hereunder may be
            transacted by electronic means within the meaning of the UETA provided that that any such amendments or
            modifications otherwise comply with the requirements in this paragraph.
        </li>
        <li><strong>Severability</strong>. If any term, provision, covenant or condition of this Agreement or part
            thereof, or the application thereof to any person, place or circumstance, shall be held to be invalid,
            unenforceable or void, the remainder of this Agreement and such term, provision, covenant, or condition
            shall remain in full force and effect, and any such invalid, unenforceable or void term, provision, covenant
            or condition shall be deemed, without further action on the part of the parties hereto, modified, amended
            and limited to the extent necessary to render the same and the remainder of this Agreement valid,
            enforceable and lawful.
        </li>
        <li><strong>Incorporation of terms of use</strong>. Learnt app Terms of Use are hereby incorporated into this
            Agreement.
        </li>
        <li><strong>Governing law</strong>. This Agreement shall be governed by and construed in accordance with the
            substantive laws, without regard to choice of law rules, of the State of New York.
        </li>
        <li><p class="content"><strong>Arbitration</strong>. ALL PARTIES TO THIS AGREEMENT WAIVE THEIR RESPECTIVE RIGHTS
            TO A TRIAL BY JURY. The exclusive means of resolving any dispute or claim arising out of or relating to this
            Agreement (including any alleged breach thereof) shall be BINDING ARBITRATION administered by the American
            Arbitration Association (“AAA”), in accordance with the AAA Arbitration Rules then in effect, before a
            single neutral arbitrator. The place of arbitration shall be New York, NY. The arbitration proceeding shall
            be kept confidential by the parties, their representatives and the arbitrator, subject to the right of any
            party to enforce the arbitral award. Each party shall bear its own costs and expenses and an equal share of
            the arbitrator’s and administrative fees of arbitration. The arbitrator may proceed to an award,
            notwithstanding the failure of either party to participate in the proceedings. The arbitrator shall, within
            thirty (30) calendar days after the conclusion of the arbitration hearing, issue a written award and
            statement of decision setting forth the findings of fact and conclusions of law on which the award is based,
            including the calculation of any damages awarded. The arbitrator also shall be authorized to grant any
            temporary, preliminary or permanent equitable remedy or relief the arbitrators deem just and equitable and
            within the scope of this Agreement, including, without limitation, an injunction or order for specific
            performance. Judgment on the award rendered by the arbitrator may be enforced in any court having competent
            jurisdiction thereof.</p>
            <p class="content">In agreeing to the above arbitration provision, YOU GIVE UP YOUR RIGHT TO GO TO COURT to
                assert or defend any claims between you and LC or its affiliates. YOU ALSO GIVE UP YOUR RIGHT TO
                PARTICIPATE IN A CLASS ACTION OR OTHER CLASS PROCEEDING. Your rights will be determined by a NEUTRAL
                ARBITRATOR, NOT A JUDGE OR JURY. You are entitled to a fair hearing before the arbitrator. The
                arbitrator can grant any relief that a court can, but you should note that arbitration proceedings are
                usually simpler and more streamlined than trials and other judicial proceedings. Decisions by the
                arbitrator are enforceable in court and may be overturned by a court only for very limited reasons. Any
                proceeding to enforce this arbitration agreement, including any proceeding to confirm, modify, or vacate
                an arbitration award, may be commenced in any court of competent jurisdiction. In the event that this
                arbitration agreement is for any reason held to be unenforceable, any litigation against Company may be
                commenced only in the federal or state courts located in New York, New York. You hereby irrevocably
                consent to the jurisdiction of those courts for such purposes.</p>
        </li>
        <li><strong>Entire agreement</strong>. This Agreement contains the entire agreement and understanding between
            the parties hereto in respect to the subject matter hereof and supersedes, cancels and annuls any prior or
            contemporaneous written or oral agreements, understandings, commitments, and practices between them
            respecting the subject matter hereof, including all prior agreements, if any, between LC and Tutor, which
            agreement(s) hereby are terminated and shall be of no further force or effect.
        </li>
        <li><strong>Electronic Signatures</strong>. Tutor acknowledges and agrees that by clicking on the Submit button,
            or taking such other action as may be designated by LC as a means of accepting this Agreement, Tutor is
            submitting a legally binding electronic signature and is entering into a legally binding contract. Tutor
            acknowledges that Tutor's electronic submission constitutes Tutor's agreement and intent to be bound by this
            Agreement. PURSUANT TO ANY AND ALL APPLICABLE STATUTES, REGULATIONS, RULES, ORDINANCES OR OTHER LAWS
            INCLUDING, WITHOUT LIMITATION, THE UNITED STATES ELECTRONIC SIGNATURES IN GLOBAL AND NATIONAL COMMERCE ACT,
            P.L. 106-229 (THE "E-SIGN ACT") AND/OR OTHER SIMILAR STATUTES, TUTOR HEREBY AGREES TO THE USE OF ELECTRONIC
            SIGNATURES, CONTRACTS, ORDERS AND OTHER RECORDS AND TO ELECTRONIC DELIVERY OF NOTICES, POLICIES AND RECORDS
            OF TRANSACTIONS INITIATED OR COMPLETED THROUGH THE SOFTWARE OR SERVICES OFFERED BY LC. Further, Tutor hereby
            waives any rights or requirements under any statutes, regulations, rules, ordinances or other law in any
            jurisdiction which requires an original signature or delivery or retention of non-electronic records, or to
            payments or the granting of credits by other than electronic means.
        </li>
    </ol>
</article>
