@import "src/variables";
@import "src/mixins";

:host {
    display: block;
    background-color: #fff;
    padding: 1rem;
    border-radius: 6px;

    .back-btn {
        max-width: 5rem;
        margin-bottom: 1rem;
    }
    .avatar {
        box-shadow: 0 0 1.25rem 0 rgb(0 0 0 / 0.1);
        max-height: 10rem;
        @include media-breakpoint-up(md) {
            float: right;
        }
    }
    .fields {
        margin: 0 -0.5rem;
        .field {
            display: inline-flex;
        }
        & > .mat-form-field, & > .field {
            min-width: 14rem;
            padding: 0 0.5rem;
        }
        & > .note {
            min-width: 20rem;
            padding: 0 0.5rem;
            display: block;
        }
    }
    mat-form-field {
        font-size: 1rem;
    }
    .learnt-admin-sessions, .learnt-admin-transactions, .learnt-admin-reviews {
        margin-bottom: 2rem;
    }
    .tutor-profile {
        margin-bottom: 2rem;
        .details {
            display: grid;
            grid-template-columns: .5fr 1.5fr;
            line-height: 1.5;
            > div {
                min-height: 2rem;
                font-size: 1rem;
            }
            .data {
                font-weight: bold;
            }
            p.note {
                margin-bottom: 0.5rem;
            }
        }
        &::after {
            content: "";
            display: block;
            clear: both;
        }
    }
    .subject {
        padding: 0 0.25rem;
        display: inline-block;
        border-radius: 0.3125rem;
        background: #eee;
        &:not(:first-child) {
            margin-left: 1rem;
        }
    }
    .verified-badge {
        background: $secondary-color;
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        color: #fff;
        font-size: 1rem;
    }
    .degrees {
        display: flex;
        flex-flow: column wrap;
        @include media-breakpoint-up(sm) {
            flex-flow: row nowrap;
            mat-divider {
                display: none;
            }
            > div {
                border-bottom: 1px solid #eee;
            }
        }
        & > :nth-child(1) {
            flex: 1 1 30%;
        }
        & > :nth-child(2) {
            flex: 1 1 40%;
        }
        & > :nth-child(3) {
            flex: 1 1 30%;
        }
    }
    .subjects {
        display: flex;
        flex-flow: column wrap;
        @include media-breakpoint-up(sm) {
            flex-flow: row nowrap;
            > div {
                border-bottom: 1px solid #eee;
            }
            > :not(:last-child) {
                padding-right: 0.5rem;
            }
            > :nth-child(1) {
                flex: 1 1 20rem;
            }
            > :nth-child(2) {
                flex: 1 1 10rem;
            }
            mat-divider {
                display: none;
            }
        }
    }
    a.link {
        text-decoration: underline;
    }
}
