:host {
    display: block;
    background-color: #fff;
    padding: 1rem;
    border-radius: 6px;

    mat-form-field {
        font-size: 1rem;
    }
    .avatar {
        float: right;
        box-shadow: 0 0 1.25rem 0 rgb(0 0 0 / 0.1);
        width: 16rem;
        height: 16rem;
    }
    .back-btn {
        max-width: 5rem;
        margin-bottom: 1rem;
    }
    .back-icon {
        max-height: 0.875rem;
        vertical-align: sub;
    }
    .student-profile, .learnt-admin-transactions, .learnt-admin-sessions {
        margin-bottom: 2rem;
    }
    .student-profile {
        mat-card-title {
            display: inline-block;
        }
        .details {
            display: grid;
            grid-template-columns: .75fr 1.25fr;
            max-width: 43.75rem;
            line-height: 1.5;
            > div {
                min-height: 2rem;
                font-size: 1rem;
            }
            .data {
                font-weight: bold;
            }
            p.note {
                margin-bottom: 0.5rem;
            }
        }
        &::after {
            content: "";
            display: block;
            clear: right;
        }
    }
    learnt-admin-transactions, learnt-admin-sessions {
        margin-bottom: 2rem;
        display: block;
    }
    .transactions {
        margin-top: 1rem;
    }
    .fields {
        margin: 0 -0.5rem;
        .field {
            display: inline-flex;
        }
        & > .mat-form-field, & > .field {
            min-width: 14rem;
            padding: 0 0.5rem;
        }
        & > .note {
            min-width: 20rem;
            padding: 0 0.5rem;
            display: block;
        }
    }
}
