<article class="terms-and-conditions use single ">
    <header>
        <h1 class="heading1">Learnt Terms of Use</h1>
        <h4 class="heading4">Effective date: 12/01/2020</h4>
    </header>
    <p class="content">THIS IS A LEGALLY BINDING CONTRACT. PLEASE BE CERTAIN YOU READ AND UNDERSTAND IT.</p>
    <p class="content">This website (the “Site”) and the Learnt App (the “App”) are both owned and operated by Learnt
        Corporation, doing
        business as Learnt (“Learnt,” “Company,” “we” or “us”). The following terms and conditions (the "Terms and
        Conditions" or "Agreement") govern your use of the Site, the App, and any the services provided by Learnt
        ("Services").</p>
    <p class="content">All rights not expressly granted herein are reserved by Learnt.</p>
    <ol type="1">
        <li><strong>BY USING THE SITE, THE APP, AND THE SERVICES, YOU AGREE TO BE BOUND BY THESE TERMS AND
            CONDITIONS.</strong>
            <p>BY USING OR OTHERWISE ACCESSING THE SITE, THE APP, OR THE SERVICES, POSTING OR DOWNLOADING CONTENT OR ANY
                OTHER INFORMATION TO OR FROM THE SITE OR THE SERVICES OR MANIFESTING YOUR ASSENT TO THESE TERMS AND
                CONDITIONS IN ANY OTHER MANNER, YOU HEREBY UNEQUIVOCALLY AND EXPRESSLY AGREE TO, AND SHALL BE SUBJECT
                TO,
                THESE TERMS OF USE. IF YOU DO NOT UNEQUIVOCALLY AGREE TO THESE TERMS AND CONDITIONS, YOU MAY NOT USE OR
                OTHERWISE ACCESS THE SITE OR THE SERVICES OR POST OR DOWNLOAD CONTENT OR ANY OTHER INFORMATION TO OR
                FROM
                THE SITE OR THE SERVICES. YOUR SOLE REMEDY FOR DISSATISFACTION WITH THE SITE, THE APP, OR THE SERVICE OR
                ANY
                CONTENT IS TO STOP USING THE SITE, THE APP, AND THE SERVICES.</p>
            <ol class="level2" type="a">
                <li>These Terms and Conditions May Change. Learnt reserves the right, at its discretion, to change,
                    modify,
                    add or remove portions of these Terms and Conditions at any time by posting such changes. Please
                    check
                    the Terms of Use page periodically for changes. The continued use of the Site and the Service
                    following
                    the posting of changes to these Terms and Conditions indicates that you accept those changes. If you
                    have any questions, or would like further clarification, please e-mail us at
                    <a href="mailto:help@learnt.io" target="_blank">help@learnt.io</a>
                </li>
                <li>Additional Terms and Conditions May Apply. The disclaimers, terms and conditions on these pages are
                    of
                    general application and may be supplemented by additional policies, procedures, disclaimers,
                    guidelines,
                    rules, terms or conditions of specific application disclosed by Learnt, including on any particular
                    page
                    of this Site, the App, or through the Services, or through a registration process or other means. In
                    the
                    event of a conflict between these Terms and Conditions and any additional policies, procedures,
                    disclaimers, guidelines, rules, terms or conditions of specific application, the additional
                    policies,
                    procedures, disclaimers, guidelines, rules, terms or conditions of specific application shall
                    control.
                    In particular we draw your attention to the
                    <a href="/privacy-policy" target="_blank">Learnt Privacy Policy</a>,
                    <a href="/tutor-payment-policy" target="_blank">Learnt Tutor Payment Policy</a>,
                    <a href="/independent-tutor-agreement" target="_blank">Learnt Independent Tutor Agreement</a>, and
                    the
                    <a href="/cancellation-policy">Learnt 24-hour Cancellation Policy</a>.
                </li>
                <li>Termination of Services for Non-compliance. If you do not comply with the Terms and Conditions at
                    any time, we reserve the right to terminate, limit, or otherwise alter your access to the Site, the
                    App, and/or the Services.
                </li>
                <li>We May Discontinue or Alter Any Aspect of the Site, the App, or the Services. We may discontinue or
                    alter any aspect of the Site, the App, or the Services, including, but not limited to, (i)
                    restricting the time the Site or the Services are available, (ii) restricting the amount of use
                    permitted, and (iii) restricting or terminating your right to use the Site, the App, or the
                    Services, at our sole discretion and without prior notice or liability.
                </li>
            </ol>
        </li>
        <li><strong>SERVICES DESCRIPTION</strong>. The Services referenced in this Agreement include all the functions
            and features associated with the Site and the App, which enable Users to connect with tutors and instructors
            ("Tutors") to secure their services. USE OF THE SERVICE IS AT YOUR SOLE RISK. Tutors are not employees of
            Learnt, and are solely responsible for the content of the educational services they provide. Our sole role
            is to provide and maintain the Site and the App. We do not verify the credentials of Tutors, nor do we
            conduct any manner of background checks to ensure a lack of criminal history. We do not offer (and
            specifically disclaim) any guarantees associated with Tutors and their services. Accordingly, LEARNT BEARS
            NO RESPONSIBILITY OR LIABILITY FOR THE CONTENT OF ANY COURSE, CLASS, LESSON, ADVICE, OR GUIDANCE THAT TUTORS
            MAY PROVIDE, AS FURTHER DETAILED IN THE LIMITATION OF LIABILITY SECTION OF THESE TERMS. ANY OPINIONS OFFERED
            BY A TUTOR DO NOT REFLECT THE OPINIONS OF LEARNT.
            <ol type="a">
                <li><strong>Recording</strong>. You agree that we may record all or any part of any of our on line
                    tutoring and classroom sessions (including voice chat communications). We reserve the right to use
                    the recorded sessions for any purpose allowed by our Learnt Privacy Policy. You agree that we own
                    all transcripts and recordings of tutoring and classroom sessions and all comments that you may
                    provide to us on or through the Site or services.
                </li>
                <li><strong>Code of Conduct</strong>, You agree that you will treat the Tutors with respect and not use
                    obscenities in the your communications with the Tutors or in the course of any lessons , make
                    threats or discuss personal matters or matters other than those related to the subject for which you
                    seek help. In addition, the Tutors agree to abide the Tutoring Code of Ethics contained in the
                    Learnt Independent Tutor Agreement.
                </li>
                <li><p class="content"><strong>Fees and Billing</strong>. Learnt charges a fee for the access to and the
                    use of the Services, the Site, and/or the App. You are responsible to Learnt (or its partners) for
                    any fees applicable to such Services you purchase or that are purchased through any account created
                    through the Site or the App for using or accessing the Site, the App, or the Services. You authorize
                    Learnt (or its partners), or its designated payment processor, to charge your specified credit card,
                    debit card or other payment method for such fees as provided through the registration process.</p>
                    <p class="content">Unless otherwise specified, all fees are in United States dollars, and all
                        charges will be made in United States dollars. Any applicable sales or other taxes are
                        additional to the stated fee. Currency exchange settlements and foreign transaction fees are
                        based on your agreement with your credit card or other payment method provider.</p>
                    <p class="content">Except as required by law and set forth herein, all fees are nonrefundable,
                        including, without limitation, in situations covered by Learnt's 24-hour Cancellation Policy. In
                        certain limited situations, a Student may request a refund with respect to a lesson that was not
                        completed to the Student's reasonable satisfaction. Learnt will investigate any such situations
                        and resolve them in the sole and absolute discretion of Learnt.</p>
                    <p class="content">You understand and agree that if you authorize a payment transaction with your
                        credit card, debit card, or other payment method, but your charge is rejected for any reason,
                        there may be a hold on your use of that transaction amount for several days.</p>
                </li>
                <li><strong>Referral Fees</strong>. Learnt will provide certain referral fees (or credits, as
                    applicable), subject to the terms and conditions set forth herein and the terms of the Learnt
                    Payment Policy:
                    <ol type="i">
                        <li>If a Tutor invites a Student to Learnt, and that Student works with another Tutor on the
                            Learnt platform, then the referring Tutor will be paid $50 by Learnt, once that Student has
                            scheduled, confirmed and completed 10 hours of lessons with any such Tutor on the Learnt
                            platform.
                        </li>
                        <li>If a Tutor invites another Tutor to join Learnt, the referring Tutor will be paid $50 by
                            Learnt, once the invited Tutor has completed 10 hours of lessons through the Learnt
                            platform.
                        </li>
                        <li>If a Student refers another Student or a Tutor to the Learnt platform, that referring
                            Student will receive a credit of $10 towards the use of the Services.
                        </li>
                        <li>If a Student is referred to the Learnt platform by another Student, the referred Student
                            will receive a credit of $10 towards the use of the Services.
                        </li>
                    </ol>
                </li>
                <li><strong>Availability of Services</strong>. The Services may be unavailable on New Year's Day,
                    Independence Day, Thanksgiving Day, Christmas Day, and other major holidays. The Services, the Site
                    and/or the App may be periodically unavailable as we perform regular maintenance and upgrades.
                </li>
            </ol>
        </li>
        <li><strong>AUTHORIZED USERS / REGISTRATION</strong>
            <ol type="a">
                <li>
                    <p class="content">
                        <strong>Definitions</strong>. The terms "you," "your" or "User(s)" refers to any individual
                        accessing the Site, the App, or the Services for his/her own personal purposes, or on behalf of
                        an entity or other person. In the event that you purport to be the agent of, represent, or
                        otherwise act on behalf of an entity or any other person, references to "you," "your" or
                        "User(s)" shall include you individually and any such entity or person that you purport to
                        represent, and you further represent and warrant that you are in fact an authorized
                        representative of such entity or other person, that you have the authority to bind such entity
                        or other person to these Terms and Conditions, and that your acceptance of these Terms of Use
                        shall constitute acceptance on behalf of such entity or person.
                    </p>
                    <p class="content">For the purposes of these Terms and Conditions, "you" also means a parent or
                        guardian who pays for access to the Site / Services as well as the student who accesses the Site
                        or uses the Services. If you are a parent, guardian, or other person who enables a child to
                        access this Site and the Service, you agree to stand in the shoes of such child for the purposes
                        of making us whole in case of damages or indemnification that could properly lie against a
                        child, if not for his or her age.</p>
                </li>
                <li><strong>Authorization to Use this Site and/or the App</strong>. You hereby confirm to Learnt that:
                    (a) you have reached the age of 13, (ii) are an emancipated minor under the laws of your
                    jurisdiction of domicile or residence, (iii) have the consent of your parent or legal guardian, or
                    (iv) otherwise have the power and authority to enter into and perform your obligations under these
                    Terms and Conditions. Users between the ages of 13 and 18 must (i) review these Terms and Conditions
                    with a parent or legal guardian to ensure the parent or legal guardian acknowledge and agree to
                    these Terms and Conditions, and (ii) not access the Site and uninstall any application if his or her
                    parent or legal guardian doesn't agree to these Terms and Conditions. If someone else is paying for
                    (or authorizing) your tutoring account, you agree to print this document and hand it to them.
                </li>
                <li>
                    <p class="content">
                        <strong>Accounts</strong>. For certain aspects of the Site, the App, or the Services, you may be
                        asked to register an account. In the event you agree to register an account, you will select or
                        receive a username (which may be your e-mail address) and password upon providing registration
                        information and successfully completing the registration process.
                    </p>
                    <p class="content">
                        You are solely responsible for maintaining the confidentiality of your account, username and
                        password and for all activities and liabilities associated with or occurring under your account,
                        username and password. You must notify us immediately of any unauthorized use of your account,
                        username or password and any other breach of security, and ensure that you exit from your
                        account(s) at the end of each session. We cannot and will not be responsible for any loss or
                        damage arising from your failure to comply with this requirement or as a result of use of your
                        account, username or password, either with or without your knowledge. However, you could be held
                        liable for losses incurred by us or another party due to someone else using your account,
                        username or password.
                    </p>
                    <p class="content">
                        You may not transfer your account, username or password to another person, and you may not use
                        anyone else's account, username or password at any time without the permission of the account
                        holder. In cases where you have authorized or registered another individual, including a minor,
                        to use your account, you are fully responsible for (i) the online conduct of such user; (ii)
                        controlling the user's access to and use of the Services; and (iii) the consequences of any
                        misuse.
                    </p>
                    <p class="content">
                        In consideration of your use of the Services, you agree to (a) provide true, accurate, current
                        and complete information about yourself as prompted by the Service's registration form and to
                        maintain and promptly update such information to keep it true, accurate, current and complete.
                        If you provide any information that is untrue, inaccurate, not current or incomplete, or if we
                        believe that such information is untrue, inaccurate, not current or incomplete, we reserve the
                        right to suspend or terminate your account(s) and refuse any and all current or future use of
                        the Services, or any portion thereof. You agree not to use the Site, the App, the Services or
                        the Content (as defined below) to recruit, solicit, or contact in any form Tutors for employment
                        or contracting for a business not affiliated with us without our advance written permission.
                    </p>
                </li>
            </ol>
        </li>
        <li><strong>RESTRICTIONS ON USE OF SITE AND APP</strong>. All content and materials contained in this Site or
            made available through the Service ("Content"), are protected by United States and international trademark
            and copyright laws, are owned or controlled by Learnt (or its partners), and must only be used for certain
            approved purposes as established by Learnt. You may only view or download Content from this Site for your
            own use or as otherwise expressly authorized by Learnt.
            <ol type="a">
                <li><strong>Limited License</strong>. Learnt hereby grants you a limited, nonexclusive, non-assignable,
                    nontransferable license to access and use the Site solely for your own personal, non-commercial
                    purposes, subject to your agreement to, compliance with and satisfaction of these Terms of Use. All
                    rights not otherwise expressly granted by these Terms of Use are reserved by Learnt. If you do not
                    comply with the Terms of Use at any time, Learnt reserves the right to revoke the aforementioned
                    license(s), limit your access to the Site, or restrict your ability to post or download Content,
                    which may include the ordering of products and services.
                </li>
                <li><strong>App License</strong>. Subject at all times to this Agreement, if you elect to download the
                    App, the following also applies: Learnt grants you a license to download, install and use a copy of
                    the App on a single mobile device or computer that you own or control solely for your personal and
                    professional use. The license granted herein is revocable, non-exclusive, and non-transferable.
                    Furthermore, with respect to any App accessed through or downloaded from an App Store such as Google
                    Play or the Apple App Store (an "App Store Sourced Application"), you will only use the App Store
                    Sourced Application: (1) on a product that runs the operating system for which it was intended and
                    (2) as permitted by the "Usage Rules" set forth in the corresponding App Store. Use of the App from
                    a third party App Store is also subject to the provisions of Section 9.
                </li>
                <li><strong>No Reproduction / Distribution</strong>. The reproduction, duplication, distribution
                    (including by way of e-mail, facsimile or other electronic means), publication, modification,
                    copying or transmission of material available on or through this Site, the App, or the Services is
                    STRICTLY PROHIBITED without the prior written consent of Learnt or unless expressly permitted by
                    this Site, the App, or the Services. This includes, without limitation, any application, text,
                    graphics, logos, photographs, audio or video material or stills from audiovisual material available
                    on this Site by Learnt. The copying posting, linking, or other use of Content from this Site, the
                    App, or the Services on any other website or networked computer environment is similarly prohibited.
                    Requests for permission to reproduce or distribute materials found on this Site, the App, or the
                    Service can be made by contacting Learnt in writing at the address listed below.
                </li>
                <li><strong>Derivative Materials</strong>. You are also strictly prohibited from creating works or
                    materials that derive from or are based on the Content. This prohibition applies regardless of
                    whether such derivative materials are sold, bartered or given away. You shall not copy, reverse
                    engineer, disassemble, decompile, translate, modify, reproduce, republish, transmit, sell, offer for
                    sale, disseminate or redistribute the Content, trademarks, service marks, logos or icons displayed
                    on the Site, the App, or Service, which are the property of Learnt, or its affiliates or licensors,
                    if any, unless otherwise specifically noted in these Terms of Use.
                </li>
                <li><strong>Trademarks</strong>. The trademarks, logos, service marks and trade names (collectively the
                    "Trademarks") of Learnt or any third party displayed on the Site or the App, or on content available
                    through the Site or the App, may not be used unless authorized by the trademark owner. All
                    Trademarks not owned by us that appear on the Site, the App, or on or through the Site's services,
                    if any, are the property of their respective owners. Nothing contained on the Site or the App should
                    be construed as granting, by implication, estoppel, or otherwise, any license or right to use any
                    Trademark displayed on the Site or the App without our written permission or that of the third party
                    rights holder. Your misuse of the Trademarks displayed on the Site or the App is strictly
                    prohibited.
                </li>
                <li><strong>Third Party Rights</strong>. Trademarks, service marks, logos and icons owned by third
                    parties are the property of those respective third parties. Learnt and affiliates do not warrant or
                    represent that your use of the Content will not infringe the rights of third parties.
                </li>
            </ol>
        </li>
        <li><p class="content"><strong>USER INFORMATION</strong>. In the course of your use of the Site or the App, You
            may be asked to provide certain personalized information to us, interact with Tutors, respond to surveys or
            otherwise provide information as a result of services and products made available on the Site (collectively,
            "User Information"). Our information collection and use policies with respect to the privacy of such User
            Information are set forth in our Learnt Privacy Policy. You agree that you are solely responsible for the
            accuracy and content of your User Information, and you agree to keep it up to date. Learnt may disclose User
            Information to affiliates, independent contractors, and partners, who may use the User Information for
            certain business purposes deemed to be aligned with our goals and business objectives. In addition, Learnt
            may transfer User Information in connection with a sale or restructuring of Learnt.</p>
            <p class="content">For Users who are minors, or in the event that You permit a minor to use your account, we
                reserve the right to provide access to such User accounts and all information contained therein to such
                minor's parents, guardians or other authorized adults, including, but not limited to, authorized school
                representatives.</p>
            <p class="content">If you reside outside the United States, your registration on the Site or the App
                constitutes your explicit consent that your User Information and/or other the personal information you
                have provided to Learnt may be transferred and stored in countries outside your home country—including
                in the United States.</p>
        </li>
        <li><p class="content"><strong>MATERIALS SUBMITTED BY USERS</strong>. Any User Information and any other
            information, creative works, demos, ideas, suggestions, concepts, methods, systems, designs, plans,
            techniques, testimonials or other content or materials submitted or sent to us (including, for example and
            without limitation, that which you submit or post to our chat rooms, message boards, and/or our blogs, or
            send to us via e-mail) ("Submitted Materials") will be deemed not to be confidential or secret, and may be
            used by us in any manner consistent with our <a href="/privacy-policy" target="_blank">Learnt Privacy
                Policy</a>. By submitting or sending Submitted Materials to us, you: (i) represent and warrant that the
            Submitted Materials are your own independent creation, solely and exclusively created by you without
            assistance from or by any third party, that no other party has any rights thereto, and that Submitted
            Materials do not infringe, in whole or in part, on any patent, copyright, trademark, or other intellectual
            property or proprietary rights of any third party, and that any "moral rights" in Submitted Materials have
            been waived, and (ii) you grant us and our affiliates a royalty-free, unrestricted, worldwide, perpetual,
            irrevocable, non-exclusive and fully transferable, assignable and sub-licensable right and license to
            display, use, reproduce, incorporate, modify, create derivative works from and distribute such material (in
            whole or part).</p>
            <p class="content">You are solely responsible for such Submitted Materials you provide to Learnt or post on
                the Site or the App or the Services. Learnt accepts no responsibility whatsoever in connection with, or
                arising from, such Submitted Materials. You agree that Learnt accepts no liability whatsoever if it
                decides, in its discretion, to prevent your Submitted Materials from being submitted or if it edits,
                restricts or removes any Submitted Materials for any reason. Learnt may delete or destroy any such
                Submitted Material at any time. You also agree to permit any other User of this Site to access, view,
                store or reproduce Submitted Materials for that other user's personal use and not to restrict or inhibit
                the use of the Site or the App by any other person. The Site is not a backup service for storing User
                Content, and Learnt has and shall have no liability regarding any loss of User Content. You are solely
                responsible for creating backups of any User Content you post using the Site, the App or the
                Service.</p>
            <p class="content">Learnt does not endorse and has no control over Submitted Materials. Submitted Materials
                are not necessarily reviewed by Learnt prior to posting and does not necessarily reflect the opinions or
                policies of Learnt. Learnt makes no warranties, express or implied, as to such Submitted Materials or
                their accuracy and reliability, and assumes no responsibility for actively monitoring the Site for
                inappropriate Submitted Materials. You should exercise discretion before relying on information
                contained on the Site or the App, including Submitted Materials.</p>
        </li>
        <li><strong>LINKS</strong>
            <ol type="a">
                <li><strong>Linked Sites</strong>. You may be able to link from the Site to third party web sites and
                    third party web sites may link to the Site ("Linked Sites"). You acknowledge and agree that we have
                    no responsibility for the content, products, services, advertising or other materials which may be
                    provided by or through Linked Sites, even if they are owned or run by affiliates of ours. Links to
                    Linked Sites do not constitute an endorsement or sponsorship by us of such websites or the
                    information, content, products, services, advertising, code or other materials presented on or
                    through such websites. Any reliance on the contents of a third party web site is done at your own
                    risk and you assume all responsibilities and consequences resulting from such reliance.
                </li>
                <li><strong>Linking to the Site</strong>. You agree that if you include a link from any other web site
                    to the Site, such link shall open in a new browser window and shall link to the full version of an
                    HTML formatted page of this Site. You are not permitted to link directly to any image hosted on the
                    Site or our services, such as using an "in-line" linking method to cause the image hosted by us to
                    be displayed on another web site. You agree not to download or use images hosted on this Site on
                    another web site, for any purpose, including, without limitation, posting such images on another
                    site. You agree not to link from any other web site to this Site in any manner such that the Site,
                    or any page of the Site, is "framed," surrounded or obfuscated by any third party content, materials
                    or branding. We reserve all of our rights under the law to insist that any link to the Site be
                    discontinued, and to revoke your right to link to the Site from any other web site at any time upon
                    written notice to you.
                </li>
            </ol>
        </li>
        <li>
            <p class="content"><strong>PROHIBITED USER CONDUCT</strong>. We may investigate and/or terminate your
                account if you misuse the Site or the App or behave in any way that we regard as inappropriate or
                unlawful. You agree that, while using the Site and the various services and features offered on or
                through the Site or the App, you shall not: (a) impersonate any person or entity or misrepresent your
                affiliation with any other person or entity; (b) insert your own or a third party's advertising,
                branding or other promotional content into any of the Site's content, materials or services; or (c) gain
                or attempt to gain unauthorized access to other computer systems through the Site or the App. You agree
                to not: (i) engage in spidering, "screen scraping," "database scraping," harvesting of e-mail addresses,
                wireless addresses or other contact or personal information, or any other automatic means of accessing,
                logging-in or registering on the Site or the App or for any services or features offered on or through
                the Site or the App, or obtaining lists of users or obtaining or accessing other information or features
                on, from or through the Site or the App or the services offered on or through the Site, including,
                without limitation, any information residing on any server or database connected to the Site or any
                services offered on or through the Site or the App; (ii) use the Site or the App or the services made
                available on or through the Site in any manner with the intent to interrupt, damage, disable,
                overburden, or impair the Site or the App or such services, including, without limitation, sending mass
                unsolicited messages or "flooding" servers with requests; or (iii) use the Site or the App or the Site's
                services in violation of any applicable law or the legal rights of any third party. You further agree
                that you may not attempt (or encourage or support anyone else's attempt) to circumvent, reverse
                engineer, decrypt, or otherwise alter or interfere with the Site or the App or the Site's services, or
                any content thereof, or make unauthorized use thereof.</p>
            <p class="content">You shall not (nor cause any third party to) use the Site or the App or the Services to
                perform any illegal or immoral activities (including without limitation defaming, abusing, harassing,
                stalking, threatening, or otherwise violating the legal rights - such as rights of privacy of others) or
                any of the following types of activities, without limitation: (a) disseminating any unlawful, harassing,
                libelous, abusive, threatening, harmful, vulgar, pornographic, obscene or otherwise objectionable
                material; (b) transmitting information that violates any applicable federal, state, or local laws, rules
                or regulations, including any governmental agency guidelines, policies or procedures, or that infringes
                any patent, trademark, trade secret, copyright or other intellectual property or proprietary rights of
                any party; (c) conducting any activity that would constitute fraud; (d) transmitting any material that
                contains software viruses, trojan horses, worms, time bombs, cancelbots, or any other computer code,
                files, or programs which may interrupt, destroy, or limit the functionality of any computer software or
                hardware or telecommunications equipment; (e) use the Site or the App or the Services to gain
                competitive intelligence about Learnt, the Site, or the App or any product or service offered via the
                Site or the App or to otherwise compete with Learnt or its affiliates.</p>
        </li>
        <li><strong>APP STORE</strong>. When you download our App, you may do so through a third party's App Store. You
            acknowledge that the terms of this Agreement are between you and us and not with the owner or operator of
            the App Store ("App Store Owner"). As between the App Store Owner and us, we, and not the App Store Owner,
            are solely responsible for the Services, including the App, the content, maintenance, support services, and
            warranty, and addressing any claims relating thereto (e.g., product liability, legal compliance or
            intellectual property infringement). In order to use the App, you must have access to a wireless network,
            and you agree to pay all fees associated with such access. You also agree to pay all fees (if any) charged
            by the App Store Owner in connection with the Services, including the App. The following applies to any App
            Store Sourced Application (as such term is defined in Section 4):
            <ol type="a">
                <li>Your use of the App Store Sourced Application must comply with the App Store's "Terms of Service" or
                    equivalent terms.
                </li>
                <li>You acknowledge that the App Store Owner has no obligation whatsoever to furnish any maintenance and
                    support services with respect to the App Store Sourced Application.
                </li>
                <li>In the event of any failure of the App Store Sourced Application to conform to any applicable
                    warranty, you may notify the App Store Owner, and the App Store Owner will refund the purchase price
                    for the App Store Sourced Application to you (if any) and to the maximum extent permitted by
                    applicable law, the App Store Owner will have no other warranty obligation whatsoever with respect
                    to the App Store Sourced Application. As between Learnt and the App Store Owner, any other claims,
                    losses, liabilities, damages, costs or expenses attributable to any failure to conform to any
                    warranty will be the sole responsibility of Learnt.
                </li>
                <li>You and we acknowledge that, as between Learnt and the App Store Owner, the App Store Owner is not
                    responsible for addressing any claims you have or any claims of any third party relating to the App
                    Store Sourced Application or your possession and use of the App Store Sourced Application,
                    including, but not limited to: (1) product liability claims; (2) any claim that the App Store
                    Sourced Application fails to conform to any applicable legal or regulatory requirement; and (3)
                    claims arising under consumer protection or similar legislation.
                </li>
                <li>You and we acknowledge that, in the event of any third-party claim that the App Store Sourced
                    Application or your possession and use of that App Store Sourced Application infringes that third
                    party's intellectual property rights, as between Learnt and the App Store Owner, Learnt, not the App
                    Store Owner, will be solely responsible for the investigation, defense, settlement and discharge of
                    any such intellectual property infringement claim to the extent required by this Agreement.
                </li>
                <li>You and we acknowledge and agree that the App Store Owner, and the App Store Owner's subsidiaries,
                    are third-party beneficiaries of this Agreement as related to your license of the App Store Sourced
                    Application, and that, upon your acceptance of this Agreement, the App Store Owner will have the
                    right (and will be deemed to have accepted the right) to enforce the terms of this Agreement as
                    related to your license of the App Store Sourced Application against you as a third-party
                    beneficiary thereof.
                </li>
                <li>You represent and warrant that (1) you are not located in a country that is subject to a U.S.
                    Government embargo, or that has been designated by the U.S. Government as a "terrorist supporting"
                    country; and (2) you are not listed on any U.S. Government list of prohibited or restricted parties.
                </li>
                <li>Without limiting any other terms in this Agreement, you must comply with all applicable third-party
                    terms of agreement when using the App Store Sourced Application.
                </li>
            </ol>
        </li>
        <li><strong>INDEMNIFICATION</strong>. You agree to defend, indemnify and hold Company, its affiliates, and its
            and their directors, officers, employees and agents harmless from any and all claims, liabilities, costs and
            expenses, including reasonable attorneys' fees, arising in any way from any content or other material you
            place on the Site, or your breach or violation of the law or of these Terms and Conditions. Company reserves
            the right, at its own expense, to assume the exclusive defense and control of any matter otherwise subject
            to indemnification by you, and in such case, you agree to cooperate with Company's defense of such claim.
        </li>
        <li><p class="content"><strong>NO WARRANTIES</strong>. TO THE MAXIMUM EXTENT ALLOWED BY LAW, THE SITE AND THE
            APP, INCLUDING, WITHOUT LIMITATION, ALL SERVICES, PRODUCTS, CONTENT, FUNCTIONS AND MATERIALS CONTAINED OR
            AVAILABLE THEREON, IS PROVIDED "AS IS," "AS AVAILABLE", WITHOUT WARRANTY OF ANY KIND, EITHER EXPRESS OR
            IMPLIED, INCLUDING, WITHOUT LIMITATION, ANY WARRANTY FOR INFORMATION, DATA, DATA PROCESSING SERVICES, UPTIME
            OR UNINTERRUPTED ACCESS, AVAILABILITY, ACCURACY, USEFULNESS, OR CONTENT OF INFORMATION, AND ANY WARRANTIES
            OF TITLE, NON-INFRINGEMENT, MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE. WE HEREBY DISCLAIM ANY AND
            ALL SUCH WARRANTIES, EXPRESS AND IMPLIED. COMPANY ALSO ASSUMES NO RESPONSIBILITY, AND SHALL NOT BE LIABLE
            FOR, ANY DAMAGES TO, OR VIRUSES THAT MAY INFECT, YOUR COMPUTER EQUIPMENT OR OTHER PROPERTY ON ACCOUNT OF
            YOUR ACCESS TO OR USE OF THE SITE OR THE APP OR YOUR DOWNLOADING OF ANY MATERIALS FROM THE SITE. IF YOU ARE
            DISSATISFIED WITH THE SITE OR THE APP, YOUR SOLE REMEDY IS TO DISCONTINUE USING THE SITE OR THE APP.
            FURTHER, LEARNT DOES NOT WARRANT (A) THE ACCURACY, COMPLETENESS, CURRENCY, OR RELIABILITY OF ANY CONTENT,
            (B) THAT THE RESULTS OBTAINED FROM THE USE OF THE SITE, THE APP, OR THE SERVICES OR CONTENT WILL BE ACCURATE
            OR RELIABLE, OR (C) THAT THE QUALITY OF THE SITE, THE APP, OR THE SERVICES OR CONTENT WILL MEET YOUR
            EXPECTATIONS.</p>
            <p class="content">From time to time, we may make third party opinions, advice, statements, offers, or other
                third party information or content available on the Site, the App, or from tutors under tutoring
                services ("Third Party Content"). All Third Party Content is the responsibility of the respective
                authors thereof and should not necessarily be relied upon. Such third party authors are solely
                responsible for such content. COMPANY DOES NOT: (I) GUARANTEE THE ACCURACY, COMPLETENESS, OR USEFULNESS
                OF ANY THIRD PARTY CONTENT ON THE SITE, OR (II) ADOPT, ENDORSE OR ACCEPT RESPONSIBILITY FOR THE ACCURACY
                OR RELIABILITY OF ANY OPINION, ADVICE, OR STATEMENT MADE BY ANY TUTOR OR ANY PARTY THAT APPEARS ON THE
                SITE. UNDER NO CIRCUMSTANCES WILL COMPANY OR ITS AFFILIATES BE RESPONSIBLE OR LIABLE FOR ANY LOSS OR
                DAMAGE RESULTING FROM YOUR RELIANCE ON INFORMATION OR OTHER CONTENT POSTED ON OR AVAILABLE FROM THE SITE
                OR THE APP.</p>
        </li>
        <li><p class="content"><strong>LIMITATION ON LIABILITY</strong>. IN NO EVENT, INCLUDING BUT NOT LIMITED TO
            NEGLIGENCE, SHALL COMPANY, ANY OF ITS AFFILIATES, OR ANY OF THEIR DIRECTORS, OFFICERS, EMPLOYEES, AGENTS OR
            CONTENT OR SERVICE PROVIDERS (INCLUDING TUTORS) (COLLECTIVELY, THE "PROTECTED ENTITIES") BE LIABLE FOR ANY
            DIRECT, INDIRECT, SPECIAL, INCIDENTAL, CONSEQUENTIAL, EXEMPLARY OR PUNITIVE DAMAGES ARISING FROM, OR
            DIRECTLY OR INDIRECTLY RELATED TO, THE USE OF, OR THE INABILITY TO USE, THE SITE, THE APP OR THE CONTENT,
            MATERIALS AND FUNCTIONS RELATED THERETO, YOUR PROVISION OF INFORMATION VIA THE SITE OR THE APP, LOST
            BUSINESS OR LOST SALES, EVEN IF SUCH PROTECTED ENTITY HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.
            SOME JURISDICTIONS DO NOT ALLOW THE LIMITATION OR EXCLUSION OF LIABILITY FOR INCIDENTAL OR CONSEQUENTIAL
            DAMAGES SO SOME OF THE ABOVE LIMITATIONS MAY NOT APPLY TO CERTAIN USERS TO THE EXTENT REQUIRED BY APPLICABLE
            LAW.</p>
            <p class="content">IN NO EVENT SHALL THE PROTECTED ENTITIES BE LIABLE FOR OR IN CONNECTION WITH ANY CONTENT
                POSTED, TRANSMITTED, EXCHANGED OR RECEIVED BY OR ON BEHALF OF ANY USER OR OTHER PERSON ON OR THROUGH THE
                SITE OR THE APP. IN NO EVENT SHALL THE TOTAL AGGREGATE LIABILITY OF THE PROTECTED ENTITIES TO YOU FOR
                ALL DAMAGES, LOSSES, AND CAUSES OF ACTION (WHETHER IN CONTRACT OR TORT, INCLUDING, BUT NOT LIMITED TO,
                NEGLIGENCE OR OTHERWISE) ARISING FROM THE TERMS AND CONDITIONS OR YOUR USE OF THE SITE EXCEED, IN THE
                AGGREGATE, THE AMOUNT, IF ANY, PAID BY YOU TO COMPANY FOR YOUR USE OF THE SITE, THE APP AND/OR
                SERVICES.</p>
        </li>
        <li><strong>TERMINATION</strong>. In addition to any other method of termination or suspension provided for in
            these Terms and Conditions, Learnt reserves the right to terminate, change, suspend or discontinue any
            aspect of the Site, the App, or the Site's services at any time. Further, you agree that Learnt shall not be
            liable to you or any third-party for any termination or suspension of your access to the Site or the App or
            any part thereof, removal of Content or sale of any products. Any such termination, suspension or
            cancellation shall not affect any right or relief to which Learnt may be entitled at law or in equity. Upon
            any such termination, suspension or cancellation, you shall terminate all use of the Site, the App, the
            Services and any Content and you will not be entitled to any refund of any fees or other charges, if any,
            paid in connection with such use.
        </li>
        <li><p class="content"><strong>ARBITRATION AND GOVERNING LAW</strong>. ALL PARTIES TO THESE TERMS AND CONDITIONS
            WAIVE THEIR RESPECTIVE RIGHTS TO A TRIAL BY JURY. The exclusive means of resolving any dispute or claim
            arising out of or relating to these Terms and Conditions (including any alleged breach thereof) or the Site
            shall be BINDING ARBITRATION administered by the American Arbitration Association ("AAA"), in accordance
            with the AAA Arbitration Rules then in effect, before a single neutral arbitrator. The place of arbitration
            shall be New York, NY; provided, however, that any party residing more than 100 miles from New York, NY may
            attend any proceedings remotely via telephone or Internet.</p>
            <p class="content">The arbitration proceeding shall be kept confidential by the parties, their
                representatives and the arbitrator, subject to the right of any party to enforce the arbitral award.
                Each party shall bear its own costs and expenses and an equal share of the arbitrator's and
                administrative fees of arbitration. The arbitrator may proceed to an award, notwithstanding the failure
                of either party to participate in the proceedings. The arbitrator shall, within thirty (30) calendar
                days after the conclusion of the arbitration hearing, issue a written award and statement of decision
                setting forth the findings of fact and conclusions of law on which the award is based, including the
                calculation of any damages awarded. The arbitrator also shall be authorized to grant any temporary,
                preliminary or permanent equitable remedy or relief the arbitrators deem just and equitable and within
                the scope of this Agreement, including, without limitation, an injunction or order for specific
                performance. Judgment on the award rendered by the arbitrator may be enforced in any court having
                competent jurisdiction thereof.</p>
            <p class="content">By using the Site, you agree to the above arbitration agreement. In doing so, YOU GIVE UP
                YOUR RIGHT TO GO TO COURT to assert or defend any claims between you and Company or its affiliates. YOU
                ALSO GIVE UP YOUR RIGHT TO PARTICIPATE IN A CLASS ACTION OR OTHER CLASS PROCEEDING. Your rights will be
                determined by a NEUTRAL ARBITRATOR, NOT A JUDGE OR JURY. You are entitled to a fair hearing before the
                arbitrator. The arbitrator can grant any relief that a court can, but you should note that arbitration
                proceedings are usually simpler and more streamlined than trials and other judicial proceedings.
                Decisions by the arbitrator are enforceable in court and may be overturned by a court only for very
                limited reasons.</p>
            <p class="content">Any proceeding to enforce this arbitration agreement, including any proceeding to
                confirm, modify, or vacate an arbitration award, may be commenced in any court of competent
                jurisdiction. In the event that this arbitration agreement is for any reason held to be unenforceable,
                any litigation against Company may be commenced only in the federal or state courts located in New York,
                New York. You hereby irrevocably consent to the jurisdiction of those courts for such purposes. These
                Terms and Conditions, and any dispute between you and Company, shall be governed by the laws of the
                State of New York without regard to principles of conflicts of law, provided that this arbitration
                agreement shall be governed by the Federal Arbitration Act.</p>
        </li>
        <li>
            <div class="content"><strong>COPYRIGHT NOTICES</strong>. If you believe that your work has been copied and
                posted on the Site or the App in a way that constitutes copyright infringement, please provide our
                Copyright Agent with the following information:
                <ol type="a">
                    <li>An electronic or physical signature of the person authorized to act on behalf of the owner of
                        the copyright interest;
                    </li>
                    <li>A description of the copyrighted work that you claim has been infringed;</li>
                    <li>A description of where the material that you claim is infringing is located on the Website (and
                        such description must be reasonably sufficient to enable Company to find the alleged infringing
                        material);
                    </li>
                    <li>Your address, telephone number and email address;</li>
                    <li>A written statement by you that you have a good faith belief that the disputed use is not
                        authorized by the copyright owner, its agent, or the law; and
                    </li>
                    <li>A statement by you, made under penalty of perjury, that the above information in your notice is
                        accurate and that you are the copyright owner or authorized to act on the copyright owner's
                        behalf.
                    </li>
                </ol>
            </div>
            <p class="content">Notice of claims of copyright infringement should be provided to Company's Copyright
                Agent at <a href="mailto:help@learnt.io" target="_blank">help@learnt.io</a> with the email subject containing "Copyright"
								or the following address: 87 Lafayette Street, New York, NY 10013.</p>
        </li>
        <li>
            <p class="content"><strong>COMMUNICATION AND MISCELLANEOUS</strong>. If you provide us your e-mail address,
                you agree and consent to receive e-mail messages from us. These e-mails may be transactional or
                relationship communications relating to the services we offer, such as administrative notices and
                service announcements or changes, or e-mails containing commercial offers, promotions or special offers
                from us. You also may sign up, and therefore agree, to receive SMS or text messages on your mobile
                phone.</p>
            <p class="content">Our failure to exercise or enforce any right or provision of the Terms and Conditions
                shall not constitute a waiver of such right or provision. If any provision of the Terms and Conditions
                is found by a court of competent jurisdiction to be invalid, the parties nevertheless agree that the
                court should endeavor to give effect to the parties' intentions as reflected in the provision, and the
                other provisions of the Terms and Conditions remain in full force and effect.</p>
        </li>
    </ol>
    <address class="address">
        <p>LEARNT</p>
        <p>87 Lafayette Street,</p>
        <p>New York, NY 10013.</p>
    </address>
</article>
