:host {
    display: inline-block;
    border: 0.5px solid #89C0CA;
    border-radius: 100px;
    min-width: 60px;
    padding: 5px 10px;
    font-size: 10px;
    color: #89C0CA;
    letter-spacing: -0.2px;
    white-space: nowrap;

    .contents {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .mat-icon {
        svg g {
            fill: #89C0CA;
        }
    }

    .left-icon {
        .mat-icon {
            margin-right: 10px;
        }
    }

    .right-icon {
        flex-direction: row-reverse;
        .mat-icon {
            margin-left: 10px;
        }
    }
    
}