@import '../../../../variables.scss';
:host {
    .content {
        padding: 30px;
    }
    .header .title {
        font-weight: bold;
        font-size: 1.7em;
        color: #444444;
    }

    .input-wrapper {
        border: 1px solid #F0E5E5;
        border-radius: 16px;
        height: 66px;
        padding: 13px 30px;
        width: calc((100% - 20px) / 2);
        margin: 10px 5px;
        input {
            &:focus-visible {
                outline: none;
            }
        }
        .error {
            position: relative;
            top: 10px;
            left: -10px;
            color: #f37073;
        }
        @media(max-width: $layout-breakpoint-sm - 1) {
            width: 100%;
        }
    }
    .mobile-error {
        position: relative;
        top: 0;
        left: 25px;
        color: #f37073;
    }

    mat-error::first-letter {
        text-transform: uppercase;
    }

    .check-title {
        font-size: 16px;
        margin: 10px 0;
    }

    .toggle-btn {
        margin-right: 20px;
        ::ng-deep .mat-slide-toggle {
            .mat-slide-toggle-bar {
                height: 24px;
                width: 40px;
                border-radius: 12px;
                background: #8F7677;
                .mat-slide-toggle-thumb-container {
                    top: 3px;
                    left: 3px;
                    .mat-slide-toggle-thumb {
                        width: 18px;
                        height: 18px;
                        background-color: white;
                    }
                }
            }
            .mat-slide-toggle-content {
                color: #8F7677;
                font-size: 16px;
            }
            &.mat-checked {
                .mat-slide-toggle-content {
                    color: #3E1011;
                    font-weight: 600;
                }
                .mat-slide-toggle-bar {
                    background-color: #FF676B;
                }
            }
        }
    }

    .notification-warning {
        color: #ff0000;
    }
}
@media(max-width:$layout-breakpoint-sm - 1) {
    :host {
        .content {
            padding: 0 !important;
        }
        .notification-warning {
            color: #ff0000;
        }
        .inner-contents {
            overflow: hidden;
            padding-bottom: 50px !important;
        }
        .receive-promotion label {
            margin-left: 10px;
            float: left;
            width: 88%;
            margin-top: -5px;
        }
        .error {
            left: -25px !important;
        }
        .mobile-error {
            left: 10px !important;
        }
        .footer {
            position: fixed;
            bottom: 0px;
            left: 0px;
            height: 80px;
            width: 100%;
            > div {
                text-align: center;
                height: fit-content;
                margin-top: 20px;
            }
        }
    }
}
