:host {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;

    > ul {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        list-style-type: none;

        > li {
            height: 100%;
            font-size: 14px;
            font-weight: bold;
            position: relative;

            > span {
                padding: 5px;
                margin: 25px;
                display: block;

                &.exit {
                    cursor: pointer;
                }
            }

            ul {
                left: 0;
                top: 80px;
                position: absolute;
                list-style-type: none;
                display: none;
                padding: 10px;
                z-index: 2;
                background: #fff;
                box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
                li {
                    font-weight: normal;

                    span {
                        padding: 15px;
                        white-space: nowrap;
                        display: block;
                    }

                    &.disabled {
                        pointer-events: none;
                        opacity: 0.7;
                        color: #DDD;
                    }

                    &:hover {
                        background: rgba(241, 241, 241, 0.5);
                    }
                }
            }

            &.expanded > ul {
                display: block;
                z-index: 10;
            }
        }
    }
}
