<ng-template #footer>
    <learnt-footer [alwaysOpen]="true"></learnt-footer>
</ng-template>

<ng-template #step>
    <div class="step-indicator__container">
        <p class="step-indicator">Step {{ stepIndex + 1 }}/5</p>
    </div>
</ng-template>

<div class="container">
    <learnt-menu [transparent]="true"></learnt-menu>
    <div class="contents">
        <learnt-view-stack width="100%" height="100%" [index]="stepIndex">
            <!-- Profile data -->
            <view>
                <div class="step__container">
                    <div class="steps-page step-1">
                        <div class="leftside" #leftside>
                            <ng-container *ngTemplateOutlet="step"></ng-container>
                            <form [formGroup]="profileForm" (submit)="saveProfile()">
                                <h3>Personal Details</h3>

                                <div fxLayout="column" fxLayout.gt-sm="row nowrap" fxLayoutGap.gt-sm="10px">
                                    <mat-form-field appearance="outline">
                                        <mat-label><label for="first-name">First Name</label></mat-label>
                                        <input matInput required id="first-name" placeholder="First Name"
                                               formControlName="first_name">
                                        <mat-error *ngIf="profileForm.get('first_name').hasError('required')">
                                            First name is required
                                        </mat-error>
                                    </mat-form-field>
                                    <mat-form-field appearance="outline">
                                        <mat-label><label for="last-name">Last Name</label></mat-label>
                                        <input matInput required id="last-name" placeholder="Last Name"
                                               formControlName="last_name">
                                        <mat-error *ngIf="profileForm.get('last_name').hasError('required')">
                                            Last name is required
                                        </mat-error>
                                    </mat-form-field>
                                </div>

                                <div fxLayout="column" fxLayout.gt-sm="row nowrap" fxLayoutGap.gt-sm="10px">
                                    <mat-form-field appearance="outline" fxFlex.gt-sm="50%">
                                        <mat-label><label for="birth-date">Date of birth</label></mat-label>
                                        <input matInput [matDatepicker]="picker" required placeholder="mm/dd/yyyy"
                                               id="birth-date" name="birthday" formControlName="birthday"
                                               [min]="minDate" [max]="maxDate" (click)="picker.open()" />
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker [touchUi]="mobile" color="primary" #picker></mat-datepicker>
                                        <mat-error *ngIf="profileForm.hasError('birthdate', 'birthday')">
                                            {{ profileForm.getError('birthdate', 'birthday') }}
                                        </mat-error>
                                        <mat-error *ngIf="profileForm.get('birthday').hasError('required')">
                                            Date of birth is required
                                        </mat-error>
                                        <mat-error *ngIf="profileForm.get('birthday').hasError('apiError')">
                                            Date of birth can't be empty
                                        </mat-error>
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" fxFlex.gt-sm="50%">
                                        <mat-label><label for="phone">Phone number</label></mat-label>
                                        <input required matInput id="phone" placeholder="###-###-####"
                                               formControlName="telephone" (change)="onPhoneChange()">
                                        <mat-error *ngIf="profileForm.get('telephone').hasError('required')">
                                            Phone Number is required
                                        </mat-error>
                                        <mat-error *ngIf="profileForm.get('telephone').hasError('pattern')">
                                            Must be formatted ###-###-####
                                        </mat-error>
                                        <mat-error *ngIf="profileForm.get('telephone').hasError('apiError')">
                                            {{profileForm.get('telephone').getError('apiError')}}
                                        </mat-error>
                                    </mat-form-field>
                                </div>

                                <ng-container formGroupName="location">
                                    <div fxLayout="column" fxLayout.gt-sm="row nowrap" fxLayoutGap.gt-sm="10px">
                                        <mat-form-field appearance="outline">
                                            <mat-label><label for="address">Address</label></mat-label>
                                            <input matInput required id="address" type="text"
                                                   placeholder="Address" formControlName="address">
                                            <mat-error *ngIf="locationForm.get('address').hasError('required')">
                                                Address is required
                                            </mat-error>
                                        </mat-form-field>
                                        <mat-form-field appearance="outline">
                                            <mat-label><label for="city">City</label></mat-label>
                                            <input matInput required id="city" type="text"
                                                   placeholder="City" formControlName="city"
                                                   [matAutocomplete]="cities">
                                            <mat-autocomplete #cities="matAutocomplete">
                                                <mat-option *ngFor="let city of locationService.cities"
                                                            [value]="city.name">
                                                    {{ city.name }}
                                                </mat-option>
                                            </mat-autocomplete>
                                            <mat-error *ngIf="locationForm.get('city').hasError('required')">
                                                City is required
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div fxLayout="column" fxLayout.gt-sm="row nowrap" fxLayoutGap.gt-sm="10px">
                                        <mat-form-field appearance="outline">
                                            <mat-label><label for="state">State</label></mat-label>
                                            <mat-select required id="state" formControlName="state" placeholder="State">
                                                <mat-option *ngFor="let state of locationService.states"
                                                            [value]="state.code">
                                                    {{ state.name }}
                                                </mat-option>
                                            </mat-select>
                                            <mat-error *ngIf="locationForm.get('state').hasError('required')">
                                                State is required
                                            </mat-error>
                                        </mat-form-field>
                                        <mat-form-field appearance="outline">
                                            <mat-label><label for="zip">ZIP Code</label></mat-label>
                                            <input matInput required id="zip" type="text" name="zip"
                                                   placeholder="ZIP Code"
                                                   [maxLength]="9" formControlName="postal_code">
                                            <mat-error *ngIf="locationForm.get('postal_code').hasError('required')">
                                                ZIP Code is required
                                            </mat-error>
                                            <mat-error
                                                *ngIf="locationForm.get('postal_code').hasError('zipCode')">
                                                {{ locationForm.get('postal_code').getError('zipCode') }}
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                </ng-container>

                                <div fxLayout="column" fxLayout.gt-sm="row nowrap" fxLayoutGap.gt-sm="10px">
                                    <mat-form-field appearance="outline">
                                        <mat-label><label for="email">Email</label></mat-label>
                                        <input matInput required id="email" type="email" name="email"
                                               placeholder="Email"
                                               formControlName="email">
                                        <mat-error *ngIf="profileForm.get('email').hasError('required')">
                                            Email is required
                                        </mat-error>
                                        <mat-error *ngIf="profileForm.get('email').hasError('email')">
                                            Email is invalid
                                        </mat-error>
                                        <mat-error *ngIf="profileForm.get('email').hasError('apiError')">
                                            {{profileForm.get('email').getError('apiError')}}
                                        </mat-error>
                                    </mat-form-field>
                                    <mat-form-field [formGroup]="profileForm" appearance="outline">
                                        <mat-label><label for="referral">Got a referral code?</label></mat-label>
                                        <input matInput id="referral" placeholder="Enter referral code here"
                                               formControlName="referrer" class="referral-input" type="text">
                                    </mat-form-field>
                                </div>
                                <p class="text-center text-lg-start">
                                    To get the best experience, it is recommended to use Chrome or Firefox
                                </p>
                                <div fxLayout="row" fxLayoutAlign="center center" class="form-buttons">
                                    <button learnt-button="blue" [size]="'lg'" type="submit"
                                            [disabled]="!profileForm.valid">
                                        Next: Step 2
                                    </button>
                                </div>

                            </form>
                        </div>
                        <div class="rightside">
                            <h3>Learnt brings students and tutors together</h3>
                            <p>Please create an account in order to proceed.</p>
                            <ul>
                                <li>
                                    <div class="icon">
                                        <mat-icon color="learnt-turquoise" svgIcon="calendar"></mat-icon>
                                    </div>
                                    <p class="message">Chat and schedule lessons with your students using an
                                        interface that syncs with all of your calendars.
                                    </p>
                                </li>
                                <li>
                                    <div class="icon">
                                        <mat-icon color="learnt-turquoise" svgIcon="flash"></mat-icon>
                                    </div>
                                    <p class="message">
                                        No lessons scheduled, but at home and ready to teach? Sign in and meet with
                                        new students looking for a tutor now.
                                    </p>
                                </li>
                                <li>
                                    <div class="icon">
                                        <mat-icon color="learnt-turquoise" svgIcon="dollar"></mat-icon>
                                    </div>
                                    <p class="message">Set your own rate and get paid via direct deposit.</p>
                                </li>
                            </ul>
                            <p class="text--500">
                                All you have to do is share your brilliance with eager minds, we handle the rest
                            </p>
                        </div>
                    </div>
                    <ng-container *ngTemplateOutlet="footer"></ng-container>
                </div>
            </view>

            <!-- SUBJECTS -->
            <view>
                <div class="step__container">
                    <div class="steps-page step-2">
                        <div class="leftside" fxLayout="column">
                            <ng-container *ngTemplateOutlet="step"></ng-container>
                            <h3 class="text-center">Education</h3>

                            <div class="resume-container" [formGroup]="resumeForm">
                                <p class="sub-title">Resume</p>
                                <learnt-upload-button formControlName="resume"
                                                      context="applying" [extensions]="['pdf']"
                                                      [maxSize]="maxPDFSize"
                                                      [mimes]="['application/pdf']"
                                                      placeholder="Please upload your resume in PDF format"
                                                      required>
                                </learnt-upload-button>
                                <div class="resume-errors form-item-errors">
                                    <mat-error *ngIf="resumeForm.get('resume').hasError('expiry')">
                                        Upload has expired
                                    </mat-error>
                                    <mat-error *ngIf="resumeForm.get('resume').hasError('required')">
                                        Resume file is required
                                    </mat-error>
                                </div>
                            </div>

                            <p class="sub-title">Your Subjects</p>
                            <!-- need a placeholder here like: start typing names of subjects -->
                            <form [formGroup]="subjectsForm" class="subjects-form">
                                <mat-form-field appearance="outline">
                                    <input matInput type="text" #subjectsSearch [matAutocomplete]="subjectsAuto"
                                           placeholder="start typing&hellip;">
                                    <mat-autocomplete #subjectsAuto="matAutocomplete"
                                                      (optionSelected)="addSubject($event)">
                                        <mat-option *ngFor="let subject of subjectOptions"
                                                    [value]="subject">{{ subject.name }}</mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                                <mat-chip-list class="subjects-chip-list" *ngIf="subjectsField.value">
                                    <mat-chip *ngFor="let subject of subjectsField.value; let i = index"
                                              [removable]="true"
                                              (removed)="removeSubject(i)" [value]="subject?._id">
                                        {{ subject?.name }}
                                        <mat-icon matChipRemove>clear</mat-icon>
                                    </mat-chip>
                                </mat-chip-list>
                                <a class="link-request-subject link link--red">Don't see your subject? Click here to
                                    request your subject to be added.</a>
                            </form>

                            <div class="form-buttons">
                                <a class="back-btn" (click)="stepBackward()">
                                    <mat-icon [svgIcon]="'full-arrow-left'"></mat-icon>
                                    Back to Step 1
                                </a>
                                <button learnt-button="blue" size="lg" class="next-btn" color="primary"
                                        (click)="updateCertificatesForm()"
                                        [disabled]="!subjectsField.valid || !resumeField.valid">
                                    Next: Step 3
                                </button>
                            </div>
                        </div>
                        <div class="rightside" fxLayout="row" fxLayoutAlign="center start">
                            <img class="illustration" src="/assets/apply-subjects-illustration.svg" />
                        </div>
                    </div>
                    <ng-container *ngTemplateOutlet="footer"></ng-container>
                </div>
            </view>

            <!-- CERTIFICATES -->
            <view>
                <div class="step__container">
                    <div class="steps-page step-3">
                        <div class="leftside">
                            <ng-container *ngTemplateOutlet="step"></ng-container>
                            <h3>Upload Documents for Verification</h3>
                            <p>Please upload supporting documents (i.e. transcript, diploma, certificate, etc) to verify subjects or education.*</p>
                            <p>*Note: this is optional. If you are accepted as a tutor, you can add verifications later.</p>
                            <form class="mb-4" [formGroup]="certificatesForm">
                                <div *ngFor="let key of certificatesFieldNames; let i = index;">
                                    <div class="resume-container">
                                        <learnt-upload-button [formControlName]="key"
                                                              context="certificates"
                                                              [placeholder]="getCertificatePlaceholderText(key)"
                                                              (click)="onCertificateClick($event, key)"
                                                              [extensions]="['pdf', 'jpg', 'jpeg', 'png']"
                                                              [mimes]="['application/pdf', 'image/jpeg', 'image/png']">
                                        </learnt-upload-button>
                                    </div>
                                </div>
                            </form>
                            <div class="form-buttons">
                                <a class="back-btn" (click)="stepBackward()">
                                    <mat-icon [svgIcon]="'full-arrow-left'"></mat-icon>
                                    Back to Step 2
                                </a>
                                <button learnt-button="blue" size="lg" class="next-btn" (click)="stepForward()">
                                    Next: Step 4
                                </button>
                            </div>
                        </div>
                        <div class="rightside">
                            <img class="illustration" src="/assets/apply-subjects-illustration.svg" />
                        </div>
                    </div>
                    <ng-container *ngTemplateOutlet="footer"></ng-container>
                </div>
            </view>

            <!-- VIDEO -->
            <view>
                <div class="step__container">
                    <div class="steps-page step-4">
                        <div class="leftside">
                            <ng-container *ngTemplateOutlet="step"></ng-container>
                            <h3>Video</h3>

                            <p>
                                We want to get a better feel for your teaching personality, Please pick a topic and
                                record a
                                video example of how you
                                would teach us (at least 90 seconds). Be creative!
                            </p>
                            <p class="mt-2">
                                You can also upload a prerecorded video with any of these extensions: .mp4, .mov,
                                .webm. Maximum upload size is 500 MB.
                            </p>

                            <form [formGroup]="videoForm" *ngIf="videoMethod === 'upload' || !videoMethod">
                                <learnt-video-recording [formControl]="videoForm.get('video')"
                                                        (onDataChange)="setData($event)">
                                </learnt-video-recording>
                                <mat-error *ngIf="videoForm.hasError('duration') && videoForm.dirty">
                                    {{ videoForm.getError('duration') }}
                                </mat-error>
                                <mat-error *ngIf="videoForm.get('video').hasError('size') && videoForm.dirty">
                                    {{ videoForm.get('video').getError('size') }}
                                </mat-error>
                            </form>

                            <form [formGroup]="youtubeForm" class="form-youtube"
                                  *ngIf="(videoMethod === 'youtube' || !videoMethod) && youtubeClientInitialized">
                                <p class="mt-2">
                                    You can also provide a YouTube link here:
                                </p>
                                <mat-form-field appearance="outline" [classList]="'mat-form-field youtube-link'">
                                    <input matInput type="url" placeholder="paste link here" formControlName="link">
                                    <button mat-icon-button matSuffix (click)="resetYouTubeForm()">
                                        <mat-icon>clear</mat-icon>
                                    </button>
                                    <mat-error *ngIf="youtubeForm.dirty && youtubeForm.hasError('url', 'link')">
                                        {{ youtubeForm.getError('url', 'link') }}
                                    </mat-error>
                                </mat-form-field>
                                <div *ngIf="youtubeForm.value.data">
                                    <div class="thumbnail-container">
                                        <img id="video-thumbnail" [src]="getYouTubeVideoThumbnail()"
                                             style="max-width: 100%">
                                    </div>
                                    Duration: {{ youtubeForm.get('data').value?.duration }} seconds
                                    <mat-error *ngIf="youtubeForm.dirty && youtubeForm.hasError('duration')">
                                        {{ youtubeForm.getError('duration') }}
                                    </mat-error>
                                </div>
                                <learnt-spinner *ngIf="loadingYoutube"></learnt-spinner>
                            </form>

                            <div fxLayout="column" fxLayout.gt-sm="row nowrap" fxLayoutGap.gt-sm="1rem">
                                <p>
                                    At Learnt, we take the privacy of users very seriously. In the future, we may use
                                    this
                                    video to promote your profile. Do we have your permission?
                                </p>
                                <div class="video-permit">
                                    <learnt-button-select [formControl]="agreeControl">
                                        <learnt-button-option [value]="false">No</learnt-button-option>
                                        <learnt-button-option [value]="true">Yes</learnt-button-option>
                                    </learnt-button-select>
                                </div>
                            </div>


                            <div class="form-buttons">
                                <a class="back-btn" (click)="stepBackward()">
                                    <mat-icon [svgIcon]="'full-arrow-left'"></mat-icon>
                                    Back to Step 3
                                </a>
                                <button learnt-button="blue" size="lg" class="next-btn" color="primary"
                                        (click)="doneVideoStep()" [disabled]="!videoNextEnabled">
                                    <learnt-spinner color="#FFFFFF" [size]="15" [thickness]="1"
                                                    *ngIf="uploadingVideo"></learnt-spinner>
                                    <span *ngIf="!uploadingVideo">
                                        {{ videoMethod === 'youtube' ? 'Next: Step 5' : 'Upload' }}
                                    </span>
                                    <span *ngIf="uploadingVideo">Uploading...</span>
                                </button>
                            </div>

                        </div>
                        <div class="rightside">
                            <img class="illustration" src="/assets/apply-video-illustration.svg" />
                        </div>
                    </div>
                    <ng-container *ngTemplateOutlet="footer"></ng-container>
                </div>
            </view>

            <!-- COLLECT SSN -->
            <view>
                <div class="step__container">
                    <div class="steps-page step-5">
                        <div class="step__content">
                            <img src="assets/turn-logo.png" alt="Turn">
                            <form [formGroup]="legalForm">
                                <h3>Account Verification</h3>
                                <p>To create a payment account, we must collect your Social Security Number for verification purposes.</p>
                                
                                <p>You will also be required to complete a background check before being approved as a tutor. 
                                    We will review your application and send you an invitation to complete a background check with a 
                                    third party service if we decide to proceed with your application.
                                </p>
                                <div class="legal-check">
                                    <a href="https://turning.io/termsofuse" target="_blank">Turn's terms of use</a>
                                </div>
                                <div class="legal-check">
                                    <learnt-form-field>
                                        <learnt-ssninput learntInput required
                                                         [formControlName]="'ssn'"></learnt-ssninput>
                                        <learnt-error *ngIf="ssnField.hasError('required') && ssnField.dirty">
                                            The Social Security Number is required.
                                        </learnt-error>
                                        <learnt-error *ngIf="ssnField.hasError('isSSN') && ssnField.dirty">
                                            The Social Security Number is invalid.
                                        </learnt-error>
                                    </learnt-form-field>
                                </div>

                                <div class="legal-check">
                                    <learnt-checkbox formControlName="agree_terms_privacy" [style]="'new'"
                                                     [keepDefaultBehaviour]="true">
                                        I agree with the <a class="link link--inherit link--red" target="_blank"
                                                            routerLink="/terms-of-use">Terms</a>
                                        and <a class="link link--inherit link--red" target="_blank"
                                               routerLink="/privacy-policy">Privacy</a>
                                    </learnt-checkbox>
                                </div>

                                <div fxLayout="column" fxLayoutGap="2rem" fxLayoutAlign="start center">
                                    <button learnt-button="blue" size="lg" class="next-btn" (click)="submit()">
                                        <learnt-spinner color="#FFFFFF" [size]="15" [thickness]="1"
                                                        *ngIf="submitting"></learnt-spinner>
                                        <span *ngIf="!submitting">Submit</span>
                                        <span *ngIf="submitting">Saving...</span>
                                    </button>
                                    <a class="back-btn" (click)="stepBackward()">
                                        <mat-icon [svgIcon]="'full-arrow-left'"></mat-icon>
                                        Back to Step 4
                                    </a>
                                </div>

                                <div class="legal-check secure-list">
                                    <ul>
                                        <li>
                                            <mat-icon>check</mat-icon>
                                            Remains private - never shared
                                        </li>
                                        <li>
                                            <mat-icon>check</mat-icon>
                                            No credit check - credit won’t be affected
                                        </li>
                                        <li>
                                            <mat-icon>check</mat-icon>
                                            Information is safe & secure
                                        </li>
                                    </ul>
                                </div>

                            </form>
                        </div>
                    </div>
                    <ng-container *ngTemplateOutlet="footer"></ng-container>
                </div>
            </view>

            <!-- FOLLOW UP -->
            <view>
                <div class="step__container">
                    <div class="steps-page step-6">
                        <div class="leftside">
                            <h3>Thank you for your interest in working with Learnt</h3>
                            <p>Due to the high number of applications we receive, we are unable to respond to all
                                candidates. However, we will review each
                                application carefully and should we believe your skills are a good fit for our app, we
                                will
                                be in touch with you directly.
                            </p>
                            <p>
                                Should you have any questions, please feel free to contact the HR team at <a
                                href="mailto:hiring@learnt.io">hiring@learnt.io</a>
                            </p>
                        </div>
                        <div class="rightside">
                            <img class="illustration" src="/assets/apply-complete-illustration.svg" />
                        </div>
                    </div>
                    <ng-container *ngTemplateOutlet="footer"></ng-container>
                </div>
            </view>

            <!-- CREATE PASSWORD -->
            <view>
                <div class="step__container">
                    <div class="steps-page step-7">
                        <div class="leftside">
                            <h3>Create a Password</h3>

                            <form [formGroup]="passwordForm" layout="column" (submit)="createPassword()">
                                <input type="text" autocomplete="username email" hidden>
                                <div class="mb-3">
                                    <mat-form-field appearance="outline">
                                        <mat-label><label>Password</label></mat-label>
                                        <input matInput type="password" autocomplete="new-password"
                                               placeholder="Password"
                                               formControlName="password" required>
                                        <mat-error *ngIf="passwordField.dirty && passwordField.hasError('minlength')">
                                            Password must be at least 8 characters long.
                                        </mat-error>
                                        <mat-error *ngIf="passwordField.getError('passwordValidator')?.digit">
                                            {{ passwordField.getError('passwordValidator').digit }}
                                        </mat-error>
                                        <mat-error *ngIf="passwordField.getError('passwordValidator')?.upperChar">
                                            {{ passwordField.getError('passwordValidator').upperChar }}
                                        </mat-error>
                                        <mat-error *ngIf="passwordField.getError('passwordValidator')?.lowerChar">
                                            {{ passwordField.getError('passwordValidator').lowerChar }}
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <mat-form-field appearance="outline">
                                    <mat-label><label>Check Password</label></mat-label>
                                    <input matInput type="password" autocomplete="new-password"
                                           placeholder="Check Password" formControlName="check" required>
                                    <mat-error
                                        *ngIf="passwordCheckField.dirty && passwordCheckField.hasError('confirmPassword')">
                                        Passwords do not match
                                    </mat-error>
                                </mat-form-field>

                                <button learnt-button="red" [size]="'lg'" [disabled]="!passwordForm.valid"
                                        type="submit"
                                >Save
                                </button>

                            </form>
                        </div>
                        <div class="rightside">
                            <img class="illustration" src="/assets/apply-legal-illustration.png" />
                        </div>
                    </div>
                </div>
            </view>
        </learnt-view-stack>
    </div>
</div>
