:host {
    padding: 30px 40px;
    display: block;
    h1 {
        font-size: 24px;
        color: #454545;
    }
    p {
        font-size: 14px;
        color: #999999;
        margin-top: 20px;
    }
    form {
        margin-top: 40px;
    }
    .buttons {
        margin-top: 20px;
    }
}