<article class="terms-and-conditions  single privacy">
    <header>
        <h1 class="heading1">Learnt Privacy Policy</h1>
        <h4 class="heading4">Effective date: December 1, 2020</h4>
        <p class="content">This Website is the property of Learnt Corporation, doing business as Learnt (“Nerdly,” “We”
            or “Us”). We
            understand the importance of the information you entrust to us, and have published this Privacy Policy to
            describe our practices concerning the information we collect from you when you use the Service available on
            the nerdly.io website (the “Site”) and any mobile or desktop application we may develop.</p>
        <p class="content">This policy describes: (i) the types of information we collect when you use our Site or App
            (ii) how we use
            and protect that information; and (iii) third parties we may share your information with; (iv) how long we
            retain it; and (v) your rights and options s they pertain to the information we collect. By using our
            Service, you consent to our collection and use of your information as described in this Privacy Policy.</p>
    </header>
    <ol type="1" class="toplevel">
        <li class="marker-h3"><h3>What information do we collect?</h3>
            <h4>We collect two basic types of information</h4>
            <ol class="level-1" type="a">
                <li>
                    <p><b>Personally identifiable information (PII)</b>: PII is information that identifies you as an
                        individual,
                        such as your name, email address, username, and password. You voluntarily provide this
                        information
                        when you establish an account. The types of PII we request depends upon whether you are
                        registering
                        to offer tutoring services (“Tutor”) or to obtain tutoring services (“Student”).</p>
                    <ol class="level2" type="i">
                        <li> For Students: To establish your account we only ask you to provide your name (first and
                            last),
                            and email address. You will then create a username and password, which we will store. You
                            will
                            also need to provide credit card information if you’re interested in retaining a Tutor. Once
                            your account is established, you will be prompted to add certain personal details, such as
                            the
                            name(s) of children who will be students under your account.
                        </li>
                        <li>For Tutors: To become a Tutor, you will need to provide your name (first and last), date of
                            birth, email address, phone number, resume, and documents to support your qualifications
                            (transcripts, certificates, diplomas, etc.). You will also need to provide your social
                            security
                            number and bank account details in order to receive payments.
                        </li>
                    </ol>
                    <p>Also, if you choose to login to our site through a social networking site, you are granting us
                        permission to access and use certain information about you as permitted by the or social
                        network.
                        For example, if you use Facebook to login, it may provide us with access to whatever information
                        you
                        choose to include in your public profile, such as friends’ names, pictures, genders, user Ids,
                        connections, and any other shared content.</p>
                    <p>Finally, when you log on to your account, we will record your IP address and/or unique mobile
                        device
                        identifier and may tie it to your specific account. Under ordinary circumstances, an IP address
                        recorded in isolation is not PII under the standard definition of the term. However, it may
                        become
                        PII when it is combined with other information, as in this case.</p>
                </li>
                <li><b>General Information</b>: General Information consists of information that is anonymous in nature
                    and
                    does not identify you as an individual. We use cookies to collect General Information. A “cookie” is
                    a
                    type of software used to gather and store visitor information. The General Information we collect
                    includes your computer IP address (when not tied to your particular account), unique mobile device
                    identifier, browser type, ISP or carrier name, and the URL of the last webpage you visited before
                    visiting our website.
                </li>
            </ol>
        </li>
        <li class="marker-h3">
            <h3>How do we use the information we collect?</h3>
            <ol type="a">
                <li><b>How We Use PII</b>: If you are a student, we use the PII we collect from and about you to enable us
                    to
                    provide you with our Service. We use your email address to contact you to confirm bookings, respond to
                    customer service requests, or for other matters regarding your account. We may also send you emails to
                    inform you about promotions and for marketing purposes. You may opt-out of receiving non-account related
                    emails by clicking on the “unsubscribe” link located at the bottom of the email. If you are a tutor, we
                    use your PII to process your application, verify your identity and qualifications, and to send payments
                    to you.
                </li>
                <li><b>How We Use General Information</b>: We use the General Information we collect to obtain insights on
                    how people use our site and our Service. We use this information for various internal business purposes,
                    and to ensure that our Service continues to appeal to our users.
                </li>
            </ol>
        </li>
        <li class="marker-h3">
            <h3>How do we share Information?</h3>
            <p class="content">We will not share the information you provide to us with any third parties for marketing purposes
                without your consent. We will share information with third parties in the following ways:</p>
            <ol type="a">
                <li>We will share your contact information with any Tutor you wish to retain. Likewise, if you are a Tutor,
                    we may share your contact information with Students.
                </li>
                <li>We contract with other companies and individuals to perform functions or services on our behalf, such
                    data storage and analysis, hosting the website, sending email messages, and monitoring website activity.
                    We necessarily have to share your PII with such third parties as may be required to perform their
                    functions. We will only share as much of your information as may be required for this purpose. A list of
                    some of the companies with which PII may be shared, together with links to their prospective privacy
                    policies, can be accessed here.
                </li>
                <li>If requested or required by law enforcement authorities, courts, or regulators, we may disclose any
                    information we have about our users. We also may disclose your PII to exercise or protect legal rights
                    or defend against legal claims.
                </li>
                <li>In some cases, we may choose to buy or sell assets. In these business transfers, customer information,
                    including PII, is typically one of the business assets that are transferred. If all or substantially all
                    of our business assets were acquired, or in the unlikely event that we go out of business or enter into
                    bankruptcy, customer information (including your PII), would be one of the assets that is transferred or
                    acquired by a third party. You acknowledge that such transfers may occur, and that any assets may
                    continue to be used according to your PII as set forth in this policy.
                </li>
                <li>We may reserve and have the right to disclose any information about you or your use of our site without
                    your prior permission, if we in good faith believe that such action is necessary to: (i) protect and
                    defend the rights, property or safety of our company or its affiliates, other users of the site, or the
                    public; or (ii) to enforce our Terms of Service.
                </li>
            </ol>
        </li>
        <li class="marker-h3">
            <h3>How do we protect your information?</h3>
            <p class="content">We use appropriate technical and organizational measures, including SSL encryption, to
                protect your personal information against unauthorized or unlawful access, processing and against accidental
                loss, destruction or damage. We also limit access to personal information about you to employees who
                reasonably need access to it to provide our Service, or in order to do their jobs. However, because no
                security system can be 100% effective, we cannot completely guarantee the security of any information we may
                have collected from or about you. In addition, we have no control over the security of other web sites on
                the Internet that you might visit even when a link may appear to those web sites site from our Site. If you
                share your computer or use a computer that is accessed by the general public, remember to log off and close
                your browser window when you have finished your session.</p>
            <p class="content">We use Stripe to process payments. For more information on how Stripe safeguards your
                information, please click here:
                <a href="https://stripe.com/privacy" target="_blank">https://stripe.com/privacy</a>,
            </p>
        </li>
        <li class="marker-h3">
            <h3>How long do we keep information?</h3>
            <p class="content">We retain PII for as long as we deem necessary to satisfy a business purpose. If you elect to
                cancel your account, your PII will no longer be available for access, but we may still retain it on our
                servers for record keeping purposes.</p>
        </li>
        <li class="marker-h3">
            <h3>Can I control how my information is used?</h3>
            <p class="content">The best way to control how we use your information is to delete or amend the information you
                provided by changing your account preferences or opting out of receiving non-account related emails. You may
                also request that we delete your Otherwise, we do not currently offer options on the use of personal
                information.</p>
        </li>
        <li class="marker-h3">
            <h3>How we use tracking technology.</h3>
            <p class="content">We employ certain technologies, such as Google Analytics, Intercom, and others that
                enable us and third parties to track your online activities on our website over time, and to a certain
                extent across third-party websites. We offer no response to browser Do-Not-Track requests, but you can
                prevent Google Analytics from recognizing you on return visits to this Site by disabling cookies on your
                browser.</p>
        </li>
        <li class="marker-h3">
            <h3>Children under 13</h3>
            <p class="content">Children under the age of 13 are not permitted to directly register on our Site. In order to
                use our service, children under the age of 13 must access our Site via an account established on his or her
                behalf
                by a parent or guardian. We do not knowingly collect any personal information from children under 13, unless
                a
                parent or legal guardian enters such information under their own account. If we become aware that someone
                attempting
                to register on our Site is under 13, we will attempt to delete the information he or she provided as soon as
                possible.</p>
        </li>
        <li class="marker-h3">
            <h3>Third-Party Links</h3>
            <p class="content">Our website may include links other sites offering information that may be of value to our
                users. If you choose to provide any information to any of these entities, the collection and disclosure of
                your information by that entity will be governed solely by that entity's privacy policy. We make no
                representations or warranties regarding these sites. In addition, our website may include social media
                features and widgets, such as the Facebook “Like” button, the “Share This” button and other interactive
                mini-programs (collectively, the “Social Media Features”). The Social Media Features may collect Information
                such as your IP address and which page you are visiting on the Site, and may also set a cookie to enable the
                Social Media Feature to function properly. Social Media Features are either hosted by a third party or
                hosted directly on our Site. Your interactions with the Social Media Features are subject to the privacy
                policy of the company providing it.</p>
        </li>
        <li class="marker-h3">
            <h3>For California Users</h3>
            <p class="content">In addition to the rights set forth in this Privacy Policy, Residents of California
                ("California Users"), may request information regarding the types of personal information we share with
                third parties for direct marketing purposes, and the identities of the third parties with whom we have
                shared such information during the immediately preceding calendar year. California Users may request further
                information about our compliance with this law by sending us a message via the email address set forth
                below. Please note that we are only required to respond to one request per customer each year concerning
                this law, and we are not required to respond to requests made by means other than through the Contact Us
                page on our website.</p>
        </li>
        <li class="marker-h3">
            <h3>Changes to this Privacy Policy</h3>
            <p class="content">We reserve the right to amend, alter, or otherwise change this Privacy Policy at our sole and
                absolute discretion. If we make any changes regarding the disclosure of Personal Information to third
                parties, we will inform all registered Users, and post notice of the new Policy from the privacy link on our
                Web site. Further use of this site following any such change constitutes your agreement to follow and be
                bound by the amended Privacy Policy.</p>
        </li>
        <li class="marker-h3">
            <h3>Do you have any questions?</h3>
            <p class="content">If you ever have any questions about our online privacy policy, please contact us. We respect
                your rights and privacy, and will be happy to answer any questions or concerns you might have. You may
                direct any such questions to us via the email address below or the Contact Us page on our website.</p>
        </li>
    </ol>

    <address class="address">
        <p>Learnt™</p>
        <p>87 Lafayette Street,</p>
        <p>New York, NY 10013.</p>
        <p><a href="mailto:help@learnt.io" target="_blank">help@learnt.io</a></p>
    </address>
</article>
