@import "../../../../variables";

:host {
    .content {
        margin-top: 327px;

        mat-form-field {
            margin: 39px 0 49px;
        }

        .buttons {
            button {
                &:first-of-type {
                    width: 214px;
                }

                &:last-of-type {
                    width: 151px;
                }
            }
        }
    }

    @media (max-width: $layout-breakpoint-md) {
        .content {
            margin-top: 140px;
        }
    }
}
