<div class="inner">
    <h1>Tutors / Verification</h1>
    <div *ngIf="tutors">
        <table *ngIf="tutors.length">
            <thead>
                <tr>
                    <th align="left">Name</th>
                    <th align="left">Unverified</th>
                    <th></th>
                </tr>
            </thead>
            <tr *ngFor="let tutor of tutors">
                <td>{{tutor.name}}</td>
                <td>
                    <span>Subjects: {{tutor.unverifiedSubjects().length}}</span> &nbsp;
                    <span>Degrees: {{tutor.unverifiedDegrees().length}}</span>
                </td>
                <td align="right">
                    <button mat-raised-button [routerLink]="tutor._id">View</button>
                </td>
            </tr>
        </table>
        <div *ngIf="!tutors.length">
            No tutors to verify
        </div>
    </div>
</div>
