<div class="menu">
    <img src="assets/learnt-logo-tm.svg" class="site-logo mb-4">
    <a class="link my-3" routerLink="/main/tutors">Browse Tutors</a> 
    <a class="link my-3" routerLink="/main/tutors" [queryParams]="{instantSession: true}">Jump into a Session</a>
    <a class="link my-3" routerLink="/" fragment="vc">Virtual Classroom</a>
    <a class="link my-3" routerLink="/start/apply">Become a Tutor</a>
    <a class="link my-3" routerLink="/start/register/affiliate">Become an Affiliate</a> 
    <button class="btn mt-4" learnt-button="red" routerLink="/start/register">Sign up/Log in</button>
</div>
